<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zarządzanie stronami</title>
</head>

<body class="manage-pages">
  <h1>Zarządzanie stronami</h1>

  <!-- Formularz do dodawania nowych pozycji -->

  <button ><a href="/admin/new-page">Dodaj strone</a></button>
  <button ><a href="/admin/add-image">Dodaj obrazek</a></button>


  <!-- Lista istniejących pozycji -->
  <h2>Istniejące strony</h2>
  <form action="/admin/update" method="POST">
    <table>
      <tr>
        <th>Tytuł</th>
        <th>Sekcja</th>
        <th>Widoczne </th>
        <th>Data publikacji </th>
      </tr>
      <% data.forEach((item, index) => { %>
        <tr>
          <!-- Edytowanie tytułu -->
          <td><input type="text" name="pages[<%= index %>][title]" value="<%= item.title %>" required></td>

          <!-- Edytowanie sekcji -->
          <td>
            <select id="sectionSelect" name="pages[<%= index %>][section]" value="<%= item.section %>" required>
              <option value="PRAWO BANKOWE" <%= item.section === 'PRAWO BANKOWE' ? 'selected' : '' %>>PRAWO BANKOWE</option>
              <option value="PRAWO RODZINNE" <%= item.section === 'PRAWO RODZINNE' ? 'selected' : '' %>>PRAWO RODZINNE</option>
              <option value="PRAWO SPADKOWE" <%= item.section === 'PRAWO SPADKOWE' ? 'selected' : '' %>>PRAWO SPADKOWE</option>
              <option value="PRAWO CYWILNE" <%= item.section === 'PRAWO CYWILNE' ? 'selected' : '' %>>PRAWO CYWILNE</option>
              <option value="PRAWO PRACY" <%= item.section === 'PRAWO PRACY' ? 'selected' : '' %>>PRAWO PRACY</option>
              <option value="PRAWO ADMINISTRACYJNE" <%= item.section === 'PRAWO ADMINISTRACYJNE' ? 'selected' : '' %>>PRAWO ADMINISTRACYJNE</option>
              <option value="ODSZKODOWANIA" <%= item.section === 'ODSZKODOWANIA' ? 'selected' : '' %>>ODSZKODOWANIA</option>
              <option value="PRAWO HANDLOWE" <%= item.section === 'PRAWO HANDLOWE' ? 'selected' : '' %>>PRAWO HANDLOWE</option>

            </select><br>

            <td> <input type="checkbox" style="width: 100%" name="pages[<%= index %>][active]" value="true" <%= item.active ? 'checked' : '' %>>
            </td>

            <td>
              <input
                type="date"
                name="pages[<%= index %>][publishDate]"
                value="<%= item.publishDate || '' %>"
                class="datepicker"
              />
            </td>
            <input type="hidden" name="pages[<%= index %>][image]" value="<%= item.image %>" required></td>
            <td> <input type="hidden" name="pages[<%= index %>][slug]" value="<%= item.slug %>">
            </td>
            <td> <button><a href="/admin/edit-page/<%= item.slug %>">edit</a></button>
            </td>
            <td> <button><a href="/blog/<%= item.slug %>">podgląd</a></button>
            </td>
        </tr>
        <% }); %>
    </table>

    <button type="submit">Zapisz zmiany</button>
  </form>
</body>

</html>
<style>
  /* Ogólny styl dla całej strony */
button {
  padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button a {
  color: #fff;
  text-decoration: none;
}
  /* Dodanie klasy dla całej sekcji zarządzania stronami */
  .manage-pages {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Nagłówki */
  .manage-pages h1,
  .manage-pages h2 {
    color: #2c3e50;
  }

  /* Formularz dodawania strony */


  .manage-pages form input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }


  .manage-pages form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .manage-pages form button:hover {
    background-color: #2980b9;
  }

  /* Tabela wyświetlająca dane */
  .manage-pages table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .manage-pages table,
  .manage-pages th,
  .manage-pages td {
    border: 1px solid #ddd;
  }
</style>