<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Brak dojazdu do działki – jak domagać się dostępu do drogi?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/brak-dojazdu-do-dziaki--jak-domaga-si-dostpu-do-drog" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Brak dojazdu do działki – jak domagać się dostępu do drogi?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/droga-konieczna.jpg" alt="brak-dojazdu-do-dziaki--jak-domaga-si-dostpu-do-drog">
          </div><div style="padding-bottom:3rem"><p class="ql-align-justify">Wyobraź sobie, że kupiłeś działkę, ale nie ma do niej dojazdu. Albo odziedziczyłeś nieruchomość, która od lat jest odcięta od drogi publicznej. Co wtedy? W polskim prawie istnieje instytucja <strong>drogi koniecznej</strong>, która pozwala właścicielowi takiej nieruchomości domagać się ustanowienia dostępu do drogi – nawet przez cudzy grunt.</p><h2 class="ql-align-justify">Co to jest droga konieczna?</h2><p class="ql-align-justify">Droga konieczna to prawo przejazdu lub przechodu przez działkę sąsiada, <strong>ustanowione przez sąd</strong>, gdy właściciel nieruchomości <strong>nie ma dostępu do drogi publicznej</strong>.</p><p class="ql-align-justify">Podstawą prawną jest art. 145 Kodeksu cywilnego:</p><p class="ql-align-center"><em>Art. 145. [Droga konieczna]</em></p><p class="ql-align-center"><em>§ 1. Jeżeli nieruchomość nie ma odpowiedniego dostępu do drogi publicznej lub do należących do tej nieruchomości budynków gospodarskich, właściciel może żądać od właścicieli gruntów sąsiednich ustanowienia za wynagrodzeniem potrzebnej służebności drogowej (droga konieczna).</em></p><p class="ql-align-center"><em>§ 2. Przeprowadzenie drogi koniecznej nastąpi z uwzględnieniem potrzeb nieruchomości niemającej dostępu do drogi publicznej oraz z najmniejszym obciążeniem gruntów, przez które droga ma prowadzić. Jeżeli potrzeba ustanowienia drogi jest następstwem sprzedaży gruntu lub innej czynności prawnej, a między interesowanymi nie dojdzie do porozumienia, sąd zarządzi, o ile to jest możliwe, przeprowadzenie drogi przez grunty, które były przedmiotem tej czynności prawnej.</em></p><p class="ql-align-center"><em>§ 3. Przeprowadzenie drogi koniecznej powinno uwzględniać interes społeczno-gospodarczy.</em></p><h2 class="ql-align-justify">Kiedy można się domagać drogi koniecznej?</h2><p class="ql-align-justify">Muszą być spełnione 3 warunki:</p><ol><li class="ql-align-justify">Twoja nieruchomość <strong>nie ma odpowiedniego dostępu</strong> do drogi publicznej (np. droga jest tylko na papierze, nie da się nią przejechać),</li><li class="ql-align-justify"><strong>Nie da się rozwiązać problemu inaczej</strong> – np. nie ma możliwości polubownego porozumienia z sąsiadami,</li><li class="ql-align-justify">Droga konieczna jest <strong>najmniej uciążliwa dla gruntu, przez który ma przebiegać</strong>.</li></ol><h2 class="ql-align-justify">Jak wygląda procedura?</h2><p class="ql-align-justify">Jeśli nie można porozumieć się z właścicielami sąsiednich działek, można złożyć do sądu wniosek o ustanowienie drogi koniecznej.</p><p class="ql-align-justify">W postępowaniu:</p><ul><li class="ql-align-justify">sąd bada mapy, miejscowy plan zagospodarowania i stan faktyczny,</li><li class="ql-align-justify">często powoływany jest <strong>biegły geodeta</strong>,</li><li class="ql-align-justify">sąd ustala trasę drogi tak, by jak najmniej ingerowała w cudzą własność.</li></ul><p class="ql-align-justify">Sąd ustala też <strong>wynagrodzenie</strong>, które należy się właścicielowi gruntu, przez który ma przebiegać droga – zazwyczaj jednorazowe.</p><p class="ql-align-justify"><em>Przykład z praktyki: Pan Adam odziedziczył działkę rekreacyjną. Problem w tym, że od najbliższej drogi publicznej dzieliła ją szeroka łąka należąca do innego właściciela. Ten nie chciał wyrazić zgody na przejazd. Kancelaria pomogła panu Adamowi złożyć wniosek do sądu. Po rozprawie, opinii biegłego i wizji lokalnej sąd wyznaczył drogę wzdłuż granicy działki sąsiada. Pan Adam zapłacił jednorazowe wynagrodzenie i dziś bez problemu dojeżdża do swojej działki.</em></p><h2 class="ql-align-justify">Najczęstsze pytania</h2><p class="ql-align-justify"><strong>Czy sąsiad może zablokować ustanowienie drogi koniecznej?</strong></p><p class="ql-align-justify">Nie, jeśli spełnione są przesłanki z ustawy. Sąd zawsze waży interesy obu stron i wybiera rozwiązanie najmniej uciążliwe.</p><p class="ql-align-justify"><strong>Czy muszę zapłacić za drogę konieczną?</strong></p><p class="ql-align-justify">Tak – wynagrodzenie dla właściciela gruntu jest obowiązkowe. Jego wysokość ustala sąd, biorąc pod uwagę powierzchnię i utrudnienia.</p><h2 class="ql-align-justify">Kiedy warto skorzystać z pomocy prawnika?</h2><p class="ql-align-justify">Sprawy o drogę konieczną bywają trudne: emocje, brak zgody sąsiadów, niejasne dokumenty. Wsparcie prawnika pomaga:</p><ul><li class="ql-align-justify">ustalić najlepszy przebieg drogi,</li><li class="ql-align-justify">przygotować wniosek i dowody,</li><li class="ql-align-justify">reprezentować interesy klienta w sądzie.</li></ul><p class="ql-align-justify"><a href="/#contact" class="smoothscroll">Skontaktuj się z Kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>