<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Czy można unieważnić umowę kredytu frankowego zawartą przed wejściem Polski do UE?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/czy-mona-uniewani-umow-kredytu-frankowego-zawart-przed-wejciem-polski-do-ue" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Czy można unieważnić umowę kredytu frankowego zawartą przed wejściem Polski do UE?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO BANKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/czy-mozna-uniewznic-umowe-przed-01-maja-2004.jpg" alt="czy-mona-uniewani-umow-kredytu-frankowego-zawart-przed-wejciem-polski-do-ue">
          </div><div style="padding-bottom:3rem"><p>Umowy kredytów powiązanych z frankiem szwajcarskim (CHF) były zawierane w Polsce już na długo przed tzw. „frankowym boomem” z lat 2006–2008. Część kredytobiorców zdecydowała się na taki produkt nawet <strong>przed 1 maja 2004 r.</strong>, czyli przed przystąpieniem Polski do Unii Europejskiej. W związku z tym pojawia się ważne pytanie:</p><h2>Czy umowy CHF zawarte przed 2004 r. można unieważnić na podstawie przepisów prawa unijnego, a konkretnie – dyrektywy 93/13 o ochronie konsumentów?</h2><p>Odpowiedź brzmi: <strong>tak – w wielu przypadkach jest to możliwe</strong>.</p><p><strong>Niniejszy wpis ma zastosowanie także do umów kredytu powiązanego z EURO czy USD z uwagi na to, że konstrukcja zapisów przeliczeniowych, odwołujących się do waluty obcej była w nich niemalże taka sama jak w przypadku umów kredytów powiązanych z CHF.</strong></p><h2>Dyrektywa 93/13 a umowy przedakcesyjne</h2><p>Dyrektywa Rady 93/13/EWG z dnia 5 kwietnia 1993 r. dotyczy <strong>nieuczciwych warunków w umowach konsumenckich</strong>. Polska implementowała tę dyrektywę do swojego prawa w ramach wejścia do UE, czyli od 1 maja 2004 r.</p><p>Zasada ogólna prawa UE mówi, że <strong>przepisy unijne nie działają wstecz</strong>. To prawda. Jednak jest tu jedno ważne „ale”:</p><p><strong>Jeśli umowa została zawarta przed wejściem Polski do UE, ale była wykonywana również po tej dacie (czyli np. raty były spłacane po 1 maja 2004 r.), to skutki tej umowy mogą być oceniane w świetle prawa unijnego.</strong></p><h2>Co na to sądy? Orzecznictwo TSUE i polskich sądów</h2><p>Trybunał Sprawiedliwości UE (TSUE) już dawno uznał, że <strong>dyrektywa 93/13 znajduje zastosowanie także do umów zawartych przed wejściem przepisów ją implementujących, jeśli umowa nadal wywołuje skutki prawne.</strong></p><p>Natomiast Sąd Najwyższy w <strong>uchwale SN z 7 maja 2021 r., III CZP 6/21</strong>, wskazał:</p><p>„Na podstawie przepisów dyrektywy 93/13 można oceniać postanowienia umowy zawartej <strong>przed dniem 1 maja 2004 r., jeżeli skutki tych postanowień utrzymywały się po tej dacie.</strong>”</p><p>Podobne stanowisko pojawiło się też w wyrokach:</p><ul><li><strong>SN z 29.10.2019 r.</strong>, IV CSK 309/18</li><li><strong>SN z 27.11.2019 r.</strong>, II CSK 483/18</li></ul><p>Sądy powszechne konsekwentnie podzielają to podejście:</p><ul><li><strong>SA w Warszawie</strong>, I ACa 659/21 – uznał nieważność umowy z 2003 r., ponieważ „jej skutki rozciągały się na okres po 2004 roku”.</li><li><strong>SA w Katowicach</strong>, I ACa 769/22 – ocenił umowę z 2002 r. na podstawie dyrektywy 93/13.</li><li><strong>SO w Krakowie</strong>, I C 1827/20 – stwierdził, że decydujące są <strong>skutki trwające po akcesji</strong>, nie sama data zawarcia umowy.</li></ul><h2>A co z bankami?</h2><p>Banki często próbują bronić się argumentem, że „umowa była zawarta przed wejściem Polski do UE, więc nie można jej oceniać na gruncie prawa unijnego”. Takie stanowisko jest jednak <strong>nieskuteczne i sprzeczne z ugruntowanym orzecznictwem</strong>. To nie sama data zawarcia umowy decyduje o możliwości jej zakwestionowania, ale <strong>czy skutki abuzywnych (nieuczciwych) postanowień trwały po 1 maja 2004 r.</strong> Jeśli tak – ochrona konsumencka przysługuje.</p><h2>Podsumowanie</h2><p>Tak – <strong>można unieważnić umowę kredytu frankowego zawartą przed 1 maja 2004 r.</strong>, jeśli była ona nadal wykonywana po tej dacie. Kluczowe jest to, czy <strong>nadal obowiązywały klauzule niedozwolone (np. przeliczenia CHF po kursie ustalanym przez bank)</strong> po przystąpieniu Polski do UE. Zarówno TSUE, Sąd Najwyższy jak i polskie sądy uznają możliwość stosowania dyrektywy 93/13 do takich umów.</p><h2>Potrzebujesz pomocy?</h2><p>Jeśli Twoja umowa CHF została zawarta przed wejściem Polski do UE tj. przed 2004 rokiem – <strong>nie rezygnuj z walki o swoje prawa</strong>. Kancelaria skutecznie reprezentuje Klientów w sprawach frankowych, również w sprawach dotyczących umów sprzed wejścia Polski do Unii Europejskie.</p><p>Skontaktuj się i sprawdź, czy Twoją umowę da się unieważnić.</p><p>opublikowano: 03.06.2025 r.</p>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>