<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Czy dla frankowiczów zmienia się linia orzecznicza po orzeczeniu TSUE  z czerwca 2025 r.?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/czy-dla-frankowiczw-zmienia-si-linia-orzecznicza-po-orzeczeniu-tsue-z-czerwca-2025-r" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Czy dla frankowiczów zmienia się linia orzecznicza po orzeczeniu TSUE  z czerwca 2025 r.?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO BANKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/tsue.jpg" alt="czy-dla-frankowiczw-zmienia-si-linia-orzecznicza-po-orzeczeniu-tsue-z-czerwca-2025-r">
          </div><div style="padding-bottom:3rem"><p>Czerwiec 2025 roku przyniósł ważny dla frankowiczów wyrok Trybunału Sprawiedliwości Unii Europejskiej w sprawie C-396/24 (Lubreczlik). Trybunał stwierdził, że Bank może domagać się wyłącznie zwrotu tej części kapitału, która faktycznie pozostała niespłacona przez konsumenta, wobec tego Bank nie może pozwać o zwrot całego kapitału. jeśli jest w posiadaniu części. Innymi słowy, jeżeli kredytobiorca oddał już połowę kwoty kredytu, bank nie ma prawa żądać całego kapitału - może pozwać konsumenta tylko o brakującą część.</p><h2>Co oznacza to rozstrzygnięcie dla frankowiczów?</h2><p>Warto podkreślić, że Trybunał wypowiedział się w sprawie zainicjowanej przez Bank, nie kredytobiorcę, wobec tego orzeczenie to nie powinno znajdować zastosowania do spraw wywodzonych przez konsumentów - kredytobiorców. Mimo tego, orzeczenie wywołało w Polsce ożywioną dyskusję. Sądy zaczęły zastanawiać się nad równowagą pomiędzy roszczeniami obu stron. Skoro bank może żądać od konsumenta tylko brakującej części kapitału, to dlaczego konsument, pozywając bank ma prawo żądać zwrotu wszystkich wpłaconych środków, a nie tylko nadpłaty ponad wysokość kapitału?</p><h2>Aktualna linia orzecznicza na Podkarpaciu</h2><p>Sąd Apelacyjny w Rzeszowie - podobnie jak większość sądów na Podkarpaciu - stoi na stanowisku, że wyrok TSUE z czerwca 2025 r. <strong>nie może być automatycznie stosowany do spraw wytaczanych przez kredytobiorców przeciwko bankom</strong>.</p><p>Co to oznacza w praktyce?</p><ul><li>Jeżeli kredytobiorca pozywa bank o zwrot wszystkich wpłaconych rat, sąd nie może z urzędu „rozliczyć” stron w jednym procesie.</li><li>Takie rozliczenie byłoby możliwe tylko wtedy, gdy pozwany bank skutecznie podniesie <strong>zarzut potrącenia</strong>.</li><li>Prawo polskie nie zna instytucji automatycznego potrącania roszczeń w takich sprawach.</li></ul><p>W efekcie nadal wiodącą pozostaje <strong>teoria dwóch kondykcji</strong>, według której każde z roszczeń - banku o zwrot kapitału i kredytobiorcy o zwrot nienależnych świadczeń - rozpatrywane jest odrębnie.</p><h2>Teoria salda czy teoria dwóch kondykcji? Jak teraz będę orzekać Sądy?</h2><p>Niektóre głosy w doktrynie i orzecznictwie wskazują, że TSUE otworzył furtkę do tzw. teorii salda, czyli rozliczania obu stron w jednym procesie. W praktyce oznaczałoby to, że sąd automatycznie „odliczałby” kapitał od wpłaconych przez konsumenta rat i zasądzał jedynie różnicę. Jednak stanowisko, że wyrok TSUE nakazuje powrót do teorii salda, jest <strong>nieuzasadnione</strong>. Trybunał wypowiadał się wyłącznie o roszczeniu banku wobec konsumenta. W polskich realiach nadal obowiązuje podejście, zgodnie z którym to strony decydują, jakie roszczenia kierują do sądu, a rozliczenie „w jednym procesie” możliwe jest tylko przy skutecznym zarzucie potrącenia.</p><h2>Co to oznacza dla kredytobiorców frankowych?</h2><p>Dla osób posiadających kredyty frankowe (i inne umowy obciążone klauzulami abuzywnymi jak np. kredyty USD, EURO) oznacza to, że wciąż mogą one pozywać banki o zwrot całości nienależnie uiszczonych świadczeń. Bank z kolei musi samodzielnie wytoczyć powództwo o zwrot kapitału albo skutecznie zgłosić zarzut potrącenia. Nie ma więc automatycznego „rozliczania” stron w jednym procesie - według aktualnego orzecznictwa w Rzeszowie i większości sądów podkarpackich. Nawet zakładając, że </p><h2>Podsumowanie</h2><p>Wyrok TSUE z czerwca 2025 r. nie odwraca całkowicie polskiej praktyki orzeczniczej. To ważne rozstrzygnięcie, które porządkuje sytuację w sprawach wytaczanych przez banki przeciwko konsumentom, ale nie zmienia podstawowych zasad w sprawach frankowych prowadzonych z powództwa kredytobiorców. Na Podkarpaciu sądy wciąż stoją na stanowisku, że wiodąca jest teoria dwóch kondykcji. Rozliczenie w jednym procesie jest możliwe jedynie wtedy, gdy bank skutecznie podniesie zarzut potrącenia. Jeżeli posiadasz kredyt we frankach szwajcarskich CHF, EURO lub USD i chcesz sprawdzić swoją umowę (w tym dawno spłaconą) - nie czekaj. <a href="/#contact" class="smoothscroll">Skontaktuj się z kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>