<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Czy i kiedy można przestać płacić kredyt frankowy?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/czy-i-kiedy-mona-przesta-paci-kredyt-frankowy" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Czy i kiedy można przestać płacić kredyt frankowy?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO BANKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/czy-i-kiedy-mozna-przestac-placic-kredyt.jpg" alt="czy-i-kiedy-mona-przesta-paci-kredyt-frankowy">
          </div>
          <div style="padding-bottom:3rem">
            <p class="ql-align-justify">Wielu posiadaczy kredytów we frankach szwajcarskich zastanawia się, czy można przestać spłacać raty w trakcie
              procesu sądowego przeciwko bankowi. Odpowiedź brzmi: <strong>tak – ale tylko wtedy, gdy sąd wyrazi na to zgodę</strong>.</p>
            <p
              class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <h2 class="ql-align-justify">Jak to działa? Kiedy można przestać spłacać kredyt?</h2>
            <p class="ql-align-justify">Jeśli pozwałeś bank za nieuczciwy kredyt frankowy, możesz zawnioskować o tzw. <strong>zabezpieczenie</strong>,
              czyli <strong>wstrzymanie obowiązku spłaty rat na czas trwania procesu</strong>. Sąd, analizując Twoją sprawę,
              może uznać, że skoro umowa może być nieważna, to nie ma sensu, żebyś dalej płacił raty. Wydaje wtedy <strong>postanowienie</strong>,
              które „zawiesza” spłatę rat kredytu na czas trwania procesu.</p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <h2 class="ql-align-justify">Na jakiej podstawie?</h2>
            <p class="ql-align-justify">Przepisy kodeksu postępowania cywilnego regulują tę materię, w szczególności art. 730 kodeksu postępowania cywilnego,
              który mówi o możliwości udzielenia zabezpieczenia.</p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <h2 class="ql-align-justify">Co zyskujesz?</h2>
            <p class="ql-align-justify">1. Nie musisz płacić rat w trakcie procesu.</p>
            <p class="ql-align-justify">2. Chronisz się przed niepotrzebnym wydawaniem pieniędzy.</p>
            <p class="ql-align-justify">3. Zyskujesz czas i spokój, nie ryzykujesz nadpłaty.</p>
            <p class="ql-align-justify"><em>Przykład: Pan Marek pozwał bank i z pomocą prawnika złożył wniosek o zawieszenie rat. Sąd zgodził się z wnioskiem.
                Pan Marek przez cały czas trwania procesu </em><strong><em>nie musi płacić ani złotówki</em></strong><em>.
                Po roku wygrał sprawę i umowa została uznana za nieważną.</em></p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <h2 class="ql-align-justify">Czy Ty też możesz przestać płacić raty frankowe?</h2>
            <p class="ql-align-justify">Tak, ale tylko jeśli sąd uzna, że Twoja umowa może być nieważna i że masz interes w zabezpieczeniu. Potrzebujesz
              dobrze przygotowanego wniosku i argumentów.</p>
            <p class="ql-align-justify"><a href="/#contact" class="smoothscroll"><strong>Skontaktuj się z kancelarią – pomogę Ci przejść przez cały proces.</strong></a></p>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>

          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>