<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Dodatkowe dni urlopu od pracy z powodu siły wyższej" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/dodatkowe-dni-pracy" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Dodatkowe dni urlopu od pracy z&nbsp;powodu siły wyższej </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO PRACY</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/dni-wolne.jpg" alt="dni wolne">
          </div>
          <p class="blog-text">
            Od dnia 26.04.2023 r. do kodeksu pracy został dodany <strong>art.  148<sup>1</sup></strong>, który wprowadza możliwość skorzystania przez pracownika
            ze zwolnienia od pracy z&nbsp;powodu działania siły wyższej.
          </p>
          <h3>Ile urlopu przysługuje pracownikowi w&nbsp;związku z&nbsp;działaniem siły wyższej?</h3>
          <p class="blog-text">
            Pracownikowi przysługuje w&nbsp;ciągu roku kalendarzowego zwolnienie od pracy, w&nbsp;wymiarze <strong>dni albo 16 godzin</strong>, z&nbsp;powodu działania
            siły wyższej w&nbsp;pilnych sprawach rodzinnych spowodowanych chorobą lub wypadkiem, jeżeli jest niezbędn natychmiastowa
            obecność pracownika.</p>

          <p class="blog-text">
            Co istotne, urlop przysługuje <strong>wszystkim pracownikom</strong> , którzy wykonują pracę na podstawie umowy o pracę, bez względu na wymiar
            zatrudnienia.
          </p>
          <h3>Co to jest siła wyższa?</h3>
          <p class="blog-text">
            Zgodnie z&nbsp;orzecznictwem za siłę wyższą jest uznawane wyłącznie zdarzenie charakteryzujące się trzema następującymi cechami:
            <p class="blog-text">
              <ol class="blog-text blog-ol">
                <li>
                 <strong> zewnętrznością</strong>,
                </li>
                <li>
                  niemożliwością jego <strong>przewidzenia</strong>,
                </li>
                <li>
                  niemożliwością <strong>zapobieżenia</strong> jego skutkom.
                </li>
              </ol>
            </p>
          </p>


          <p class="blog-text">
            Sąd Najwyższy w&nbsp;wyroku z&nbsp;dnia 13.05.2021 r., sygn. akt V CSKP 83/21 wskazał także, że <i>„za siłą wyższą uważa się jedynie zdarzenia
            zewnętrzne w&nbsp;stosunku do uprawnionego, a&nbsp;zarazem nadzwyczajne i&nbsp;w&nbsp;konsekwencji nieuchronne oraz w&nbsp;danym układzie
            stosunków niemożliwe do przewidzenia, czyli o&nbsp;"przemożnej" mocy oddziaływania, przed którego skutkami nie było
            żadnej obrony”.</i>
          </p>

          <h3>Czy pracownik zachowuje prawo do wynagrodzenia w&nbsp;przypadku skorzystania z&nbsp;urlopu?</h3>
          <p class="blog-text">
            Pracownik korzystający ze zwolnienia od pracy z&nbsp;powodu działania siły wyższej <strong>zachowuje prawo do 50% wynagrodzenia</strong>. Wobec
            tego, urlop z powodu siły wyższej jest płatny.

          </p>

          <h3>
            Kiedy należy złożyć wniosek o&nbsp;urlop z&nbsp;powodu działania siły wyższej?
          </h3>
          <p class="blog-text">
            Wniosek o&nbsp;udzielenie zwolnienia od pracy z&nbsp;powodu działania siły wyższej może być złożony przez pracownika ustnie lub <strong>pisemnie
            najpóźniej w&nbsp;dniu korzystania z&nbsp;tego zwolnienia</strong>, a pracodawca jest obowiązany udzielić zwolnienia od pracy.

          </p>

          <span class="blog-zrodla">
            Źródła:
            <ol>
              <li>
                Kodeks pracy,
              </li>
              <li>
                Wyrok SA w&nbsp;Lublinie z&nbsp;19.11.2019 r., III APa 15/19,
              </li>
              <li>
                Wyrok SN z&nbsp;13.05.2021 r., V CSKP 83/21. </li>
            </ol>
          </span>
          <span>
            <span class="blog-data">opublikowano: 11.05.2023 r.</span>
          </span>
          <br>
        </div>

      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
      <%- include('../../views/components/contact.ejs'); -%>
      <%- include('../../views/components/dependency.ejs'); -%>
  </body>
</html>
