<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Ile kosztuje rozwód a ile separacja? - Prawo rodzinne" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/ile-kosztuje-rozwod" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Ile kosztuje rozwód a ile separacja? – co warto wiedzieć </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/money.jpg" alt="money">
          </div>
          <h2>Ile kosztuje sprawa o&nbsp;rozwód/ separację w&nbsp;2023 roku?
          </h2>
          <p class="blog-text">
            Ustawa o&nbsp;kosztach sądowych w&nbsp;sprawach cywilnych w&nbsp;art. 26 wskazuje, że opłata stała od pozwu rozwodowego wynosi
            <strong class="txt-bold">600,00 zł.</strong>
            Opłatę w&nbsp;wyżej wskazanej wysokości uiszcza się bez względu na to czy pozew zawiera w&nbsp;sobie żądanie orzeczenia o&nbsp;wyłącznej
            winie drugiego małżonka czy też nie. Taką samą opłatę pobiera się w&nbsp;przypadku składania pozwu o&nbsp;<strong
              class="txt-bold">separację.</strong>
            Jednak wniosek o&nbsp;separację, na zgodne żądanie małżonków wiąże się z&nbsp;koniecznością poniesienia opłaty w&nbsp;wysokości
            100,00 zł.
          </p>

          <p class="blog-text">
            Powyższe oznacza, że wraz ze składaniem pozwu do Sądu należy uiścić opłatę na rzecz właściwego sądu w&nbsp;ww. wysokości.
            Uiszczenie powyższej opłaty jest elementem koniecznym dla prowadzenia postępowania.
          </p>
          <p class="blog-text">
            Jednak po uprawomocnieniu się wyroku Sąd zwraca połowę uiszczonej opłaty od pozwu o&nbsp;rozwód lub separację (300,00 zł)
            w&nbsp;razie orzeczenia rozwodu lub separacji na <strong class="txt-bold">zgodny wniosek stron bez
              orzekania o&nbsp;winie</strong>, natomiast połowę z&nbsp;pozostałej połowy (150,00 zł) Sąd zasądzi na rzecz
            powoda od pozwanego małżonka. W&nbsp;takiej sytuacji opłata od pozwu obciążająca stronę powodową, wynosi finalnie
            150,00 zł.
          </p>
          <h2>
            Zwolnienie z&nbsp;opłaty sądowej od pozwu. Wniosek o&nbsp;zwolnienie od kosztów sądowych
          </h2>
          <p class="blog-text">
            W&nbsp;przypadku niemożności poniesienia opłaty od pozwu istnieje możliwość złożenia <strong class="txt-bold">wniosku
              o&nbsp;zwolnienie od kosztów sądowych w&nbsp;całości lub części</strong>. Zwolnienia od kosztów sądowych może
            się domagać osoba fizyczna, jeżeli złoży oświadczenie, z&nbsp;którego wynika, że <strong class="txt-bold">nie
              jest w&nbsp;stanie ich ponieść bez uszczerbku utrzymania koniecznego dla siebie i&nbsp;rodziny lub ich poniesienie
              narazi ją na taki uszczerbek</strong>. Do wniosku o&nbsp;zwolnienie od kosztów sądowych powinno być dołączone
            oświadczenie obejmujące szczegółowe dane o&nbsp;stanie rodzinnym, majątku, dochodach i&nbsp;źródłach utrzymania
            osoby ubiegającej się o&nbsp;zwolnienie od kosztów. Ponadto, Sąd może zwolnić stronę od kosztów sądowych w&nbsp;części,
            jeżeli strona jest w&nbsp;stanie ponieść tylko część tych kosztów.
          </p>
          <p class="blog-text">
            Poza opłata sądową pamiętać trzeba także o&nbsp;konieczności uzyskania z&nbsp;Urzędu Stanu Cywilnego <strong
              class="txt-bold">odpisu skróconego aktu małżeństwa</strong>, który załączyć należy do pozwu. Koszt wybrania powyższego
            odpisu to 22,00 zł. Do pozwu należy dołączyć także skrócony <strong class="txt-bold">odpis aktu urodzenia dziecka</strong>.
            Wniosek o&nbsp;wydanie odpisu aktu małżeństwa czy urodzenia można złożyć np. za pośrednictwem profilu zaufanego.
          </p>
          <p class="blog-text">
            Wysokość wynagrodzenia pełnomocnika zależy natomiast od wielu czynników takich jak stopień skomplikowania sprawy, porozumienie
            małżonków, ilość rozpraw czy konieczność uregulowania w&nbsp;wyroku rozwodowym innych kwestii takich jak np.
            władza rodzicielska czy alimenty.
          </p>
          <h3>
            W&nbsp;sprawach wymagających udzielenia indywidualnej porady prawnej, zapraszam do kontaktu.
          </h3>
          <span>
            <span class="blog-data">opublikowano: 22.04.2023 r.</span>
          </span>
          <br>
        </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>
