<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Immisje – co możesz zrobić, gdy sąsiad zakłóca Twój spokój?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/immisje--co-moesz-zrobi-gdy-ssiad-zakca-twj-spokj" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Immisje – co możesz zrobić, gdy sąsiad zakłóca Twój spokój?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/immisje.jpg" alt="immisje--co-moesz-zrobi-gdy-ssiad-zakca-twj-spokj">
          </div><div style="padding-bottom:3rem"><p class="ql-align-justify">Wielu właścicieli nieruchomości prędzej czy później doświadcza konfliktów z sąsiadami. Jednym z najczęstszych problemów są tzw. <strong>immisje</strong>, czyli działania sąsiada, które zakłócają korzystanie z naszej działki, domu czy mieszkania. Polskie prawo daje narzędzia do ochrony swoich praw, ale nie każdy wie, jak z nich skorzystać.</p><h2 class="ql-align-justify">Czym są immisje?</h2><p class="ql-align-justify">Immisje to wpływ jednego właściciela nieruchomości na sąsiednią nieruchomość – <strong>negatywny, uciążliwy, nieakceptowalny</strong>. Mogą one przyjmować różne formy, np.:</p><ul><li class="ql-align-justify"><strong>hałas</strong> – głośna muzyka, hałaśliwe imprezy, szczekanie psów,</li><li class="ql-align-justify"><strong>zapylenie, dym, zapachy</strong> – np. palenie śmieci, grillowanie pod oknami sąsiada,</li><li class="ql-align-justify"><strong>nadmierne światło</strong> – reflektory świecące w okna sąsiada przez całą noc,</li><li class="ql-align-justify"><strong>zalewanie wodą</strong> – np. źle poprowadzona rynna, z której woda spływa na cudzą działkę,</li><li class="ql-align-justify"><strong>wibracje, fale elektromagnetyczne</strong> – przy działalności gospodarczej.</li></ul><p class="ql-align-justify">Immisje mogą być:</p><ul><li class="ql-align-justify"><strong>bezpośrednie</strong> – np. fizyczne wprowadzanie na cudzą działkę ścieków czy wody,</li><li class="ql-align-justify"><strong>pośrednie</strong> – oddziaływanie przez powietrze, dźwięk, światło.</li></ul><h2 class="ql-align-justify">Gdzie leży granica?</h2><p class="ql-align-justify">Nie każda uciążliwość będzie podstawą do interwencji sądu. Prawo mówi, że właściciel nieruchomości powinien korzystać ze swojej własności <strong>w sposób, który nie zakłóca korzystania z sąsiednich nieruchomości ponad przeciętną miarę</strong>.</p><p class="ql-align-justify"><strong><em>Przykład 1</em></strong><em>: Sąsiad Pana Tomasza codziennie o 6:00 rano uruchamiał piłę spalinową w przydomowym warsztacie. Dźwięk był tak intensywny, że przeszkadzał całej rodzinie w odpoczynku i pracy zdalnej. Po interwencji prawnej sąd zobowiązał sąsiada do ograniczenia prac do godzin 9:00–17:00.</em></p><p class="ql-align-justify"><strong><em>Przykład 2</em></strong><em>: Pani Ewa przez kilka miesięcy wdychała dym z ogniska, które sąsiad regularnie rozpalał z użyciem mokrego drewna i śmieci. Skierowała sprawę do sądu cywilnego i otrzymała zakaz dalszego dokonywania immisji zapachowych.</em></p><h2 class="ql-align-justify">Jakie masz prawa?</h2><p class="ql-align-justify">Jako właściciel nieruchomości masz prawo żądać:</p><ul><li class="ql-align-justify"><strong>zaniechania immisji</strong> – czyli zakazu określonego działania (np. zakaz palenia ogniska przy ogrodzeniu),</li><li class="ql-align-justify"><strong>przywrócenia stanu zgodnego z prawem</strong> – np. usunięcia reflektorów skierowanych na Twoje okna,</li><li class="ql-align-justify"><strong>odszkodowania</strong> – jeżeli działanie sąsiada wyrządziło Ci szkodę (np. zniszczyło uprawy lub zaniżyło wartość nieruchomości).</li></ul><p class="ql-align-justify">W niektórych przypadkach możesz też zgłosić sprawę do <strong>straży miejskiej, policji lub inspektoratu ochrony środowiska</strong>, zwłaszcza gdy chodzi o palenie odpadów czy zakłócanie ciszy nocnej.</p><h2 class="ql-align-justify">Jak udowodnić immisje?</h2><p class="ql-align-justify">W przypadku sporu sądowego bardzo ważne są <strong>dowody</strong>. Mogą to być:</p><ul><li class="ql-align-justify">nagrania wideo lub audio,</li><li class="ql-align-justify">zdjęcia,</li><li class="ql-align-justify">zeznania świadków (np. innych sąsiadów),</li><li class="ql-align-justify">opinie biegłych (np. akustyka, jeżeli chodzi o hałas).</li></ul><p class="ql-align-justify">Dobrze udokumentowana sprawa zwiększa szanse na skuteczne dochodzenie swoich praw.</p><h2 class="ql-align-justify">Potrzebujesz pomocy prawnej?</h2><p class="ql-align-justify">Spory sąsiedzkie bywają trudne emocjonalnie i skomplikowane prawnie. Warto działać rozważnie i zgodnie z przepisami – najlepiej z pomocą prawnika. Kancelaria Radcy Prawnego Kamila Gierus-Lenczner oferuje:</p><ul><li class="ql-align-justify">ocenę sytuacji prawnej,</li><li class="ql-align-justify">przygotowanie wezwań do zaprzestania immisji,</li><li class="ql-align-justify">reprezentację w postępowaniach sądowych.</li></ul><p class="ql-align-justify">Nie musisz znosić uciążliwego sąsiada – masz prawo do spokojnego korzystania z własnej nieruchomości. <a href="/#contact" class="smoothscroll">Skontaktuj się z kancelarią i dowiedz się, jak mogę Ci pomóc.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>