<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Jak przebiega rozprawa spadkowa?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/jak-przebiega-rozprawa-spadkowa" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Jak przebiega rozprawa spadkowa?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO SPADKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/jak-przebiega-rozprawa-spadkowa.jpg" alt="jak-przebiega-rozprawa-spadkowa">
          </div><div style="padding-bottom:3rem"><p>Rozprawa spadkowa to postępowanie sądowe, w którym sąd stwierdza, kto jest spadkobiercą osoby zmarłej. Choć sama rozprawa często trwa kilkanaście minut, warto dobrze się do niej przygotować. Dzięki temu można uniknąć nieporozumień i stresu.</p><h3>Krok po kroku: jak przebiega postępowanie spadkowe?</h3><p><strong>1/ Złożenie wniosku do sądu</strong> – należy złożyć wniosek o stwierdzenie nabycia spadku do sądu rejonowego właściwego dla ostatniego miejsca zamieszkania zmarłego. Do wniosku dołącza się m.in.:</p><ul><li>odpis aktu zgonu,</li><li>akty urodzenia i małżeństwa,</li><li>ewentualny testament.</li></ul><p><strong>2/ Oczekiwanie na termin rozprawy</strong> – zwykle trwa to od kilku tygodni do kilku miesięcy, w zależności od obciążenia sądu.</p><p><strong>3/ Rozprawa</strong> – przebiega zazwyczaj spokojnie i formalnie. Przewodniczący sprawdza dane stron, weryfikuje dokumenty i zadaje kilka pytań (np. o testament, relacje rodzinne, ewentualne konflikty).</p><p><strong>4/ Postanowienie sądu</strong> – po wysłuchaniu uczestników sąd wydaje postanowienie, które określa, kto nabywa spadek i w jakich częściach.</p><p><strong>5/ Uprawomocnienie się postanowienia</strong> – postanowienie staje się prawomocne (chyba że ktoś wniesie środek odwoławczy).</p><p><em>Przykład: Pan Jan zmarł bez testamentu. Na rozprawę zgłosiła się jego żona oraz dwoje dorosłych dzieci. Sąd po analizie dokumentów i wysłuchaniu stron stwierdził, że każde z nich dziedziczy po 1/3 spadku.</em></p><h3>Co dalej?</h3><p>Prawomocne postanowienie o nabyciu spadku jest niezbędne, aby:</p><ul><li>uregulować kwestie majątkowe,</li><li>dysponować nieruchomością np. przepisać nieruchomości,</li><li>uzyskać dostęp do kont bankowych,</li><li>przeprowadzić dział spadku lub sprzedaż majątku.</li></ul><p><a href="/#contact" class="smoothscroll">Skontaktuj się z Kancelarią</a>. Przeprowadzę cię przez proces spadkowy.</p><p><br></p><p>opublikowano: 16.05.2025 r.</p>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>