<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Kontrola trzeźwości w&nbsp;pracy – co warto wiedzieć  - Prawo pracy" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/kontrola-trzewoci-wnbsppracy--co-warto-wiedzie---prawo-pracy" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Kontrola trzeźwości w&nbsp;pracy – co warto wiedzieć - Prawo pracy</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO PRACY</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/kontrola-trzezwosci.jpg" alt="kontrola-trzewoci-wnbsppracy--co-warto-wiedzie---prawo-pracy">
          </div>
          <div style="padding-bottom:3rem">
            <p> &lt;%- include('../../views/components/head.ejs', { title: "Kontrola trzeźwości w&nbsp;pracy – co warto wiedzieć
              - Prawo pracy" }); -%&gt; &lt;%- include('../../views/components/headerBlog.ejs'); -%&gt;</p>
            <p><br></p>
            <h1>Kontrola trzeźwości w&nbsp;pracy – co warto wiedzieć</h1>
            <h4>PRAWO PRACY</h4>
            <p class="ql-align-center"><img src="../images/kontrola-trzezwosci.jpg" alt="picie w&nbsp;pracy"></p>
            <p>Od 21 lutego 2023 r.<strong> zgodnie z&nbsp;dodanym do Kodeksu Pracy art. 22 </strong><sup><strong>1c</strong></sup><strong>
              pracodawca ma możliwość prowadzenia wśród pracowników kontroli trzeźwości i&nbsp;kontroli obecności środków
                działających podobnie jak alkohol. </strong></p>
            <p>W&nbsp;związku z&nbsp;powyższym, kontrola wprowadzana przez pracodawcę może dotyczyć:</p>
            <ol>
              <li>stwierdzenia spożycia alkoholu – stanu po użyciu alkoholu lub stanu nietrzeźwości,</li>
              <li>stwierdzenia spożycia środków działających podobnie do alkoholu.</li>
            </ol>
            <p>Przypomnieć należy, że stan po użyciu alkoholu zachodzi, jeśli stężenie alkoholu we krwi wynosi od 0,2‰ do 0,5‰
              alkoholu albo obecności w&nbsp;wydychanym powietrzu od 0,1 mg do 0,25 mg alkoholu w&nbsp;1 dm3. Stan nietrzeźwości
              natomiast zachodzi, gdy zawartość alkoholu we krwi wynosi powyżej 0,5‰ albo obecność w&nbsp;wydychanym powietrzu
              wynosi powyżej 0,25 mg alkoholu w&nbsp;1 dm3.</p>
            <p>Wśród środków działających podobnie jak alkohol wyróżnić należy:</p>
            <ol>
              <li>opioidy,</li>
              <li>amfetaminę i&nbsp;jej analogi,</li>
              <li>kokainę,</li>
              <li>kannabinoidy,</li>
              <li>benzodiazepiny.</li>
            </ol>
            <h3>Czy każdy pracodawca i&nbsp;w&nbsp;każdym przypadku może wykonać kontrolę trzeźwości?</h3>
            <p>Pracodawca może wprowadzić kontrolę trzeźwości w&nbsp;pracy, <strong>jeśli jest to niezbędne</strong> do zapewnienia:</p>
            <ol>
              <li>ochrony życia i&nbsp;zdrowia pracowników lub innych osób</li>
              <li>ochrony mienia</li>
            </ol>
            <p>Mając na uwadze powyższe, może wystąpić sytuacja, kiedy kontrolą trzeźwości zostaną objęci tylko niektórzy pracownicy
              firmy, wykonujący określone zadania czy zajmujący określone stanowiska. W&nbsp;związku z&nbsp;tym, kontrola
              trzeźwości przeprowadzana przez pracodawcę dotyczy&nbsp;<strong>pracowników, których praca stwarza zagrożenie
                dla życia i&nbsp;zdrowia pracowników lub innych osób albo dla mienia</strong>&nbsp;(przy czym nie chodzi
              tu wyłącznie&nbsp;mienia pracodawcy, a&nbsp;o każde).</p>
            <p>Pracodawca podejmujący decyzję o&nbsp;wprowadzeniu kontroli trzeźwości ma obowiązek <strong>uregulować tę kwestię
                w&nbsp;układzie zbiorowym pracy lub w&nbsp;regulaminie pracy albo w&nbsp;obwieszczeniu,</strong> jeżeli pracodawca
              nie jest objęty układem zbiorowym pracy lub nie jest obowiązany do ustalenia regulaminu pracy. W&nbsp;dokumencie,
              który wprowadza kontrolę, trzeba określić co najmniej:</p>
            <ol>
              <li>grupę lub grupy pracowników objętych kontrolą,</li>
              <li>sposób przeprowadzania kontroli, w&nbsp;tym rodzaj urządzenia wykorzystywanego do kontroli,</li>
              <li>czas i&nbsp;częstotliwość jej przeprowadzania.</li>
            </ol>
            <p>O&nbsp;wprowadzeniu kontroli trzeźwości pracodawca zobowiązany jest poinformować pracowników w&nbsp;sposób przyjęty
              u danego pracodawcy <strong>nie później niż 2 tygodnie</strong> przed rozpoczęciem jej przeprowadzania.</p>
            <h3>Badanie trzeźwości pracownika</h3>
            <p>Badanie polega na stwierdzeniu braku obecności alkoholu w&nbsp;organizmie pracownika albo obecności alkoholu
              wskazującej na stan po użyciu alkoholu albo stan nietrzeźwości. Kontrola trzeźwości odbywa się przy użyciu
              metod <strong>niewymagających badania laboratoryjnego za pomocą urządzenia posiadającego ważny dokument potwierdzający
                jego kalibrację lub wzorcowanie. </strong></p>
            <p>Badanie na obecność środków działających podobnie do alkoholu polega na nieinwazyjnym <strong>pobraniu próbek
                śliny</strong> i&nbsp;umieszczeniu ich w&nbsp;urządzeniu do oznaczania metodą immunologiczną środków działających
              podobnie do alkoholu, zgodnie z&nbsp;instrukcją obsługi tego urządzenia.</p>
            <p>Pracodawca każdorazowo powinien pamiętać, że zgodnie z&nbsp;nowo dodanym przepisem, podczas badania trzeźwości
              pracownika, <strong>nie może zostać naruszona godność oraz inne dobra osobiste pracownika.</strong></p>
            <h3>Konsekwencje kontroli trzeźwości. Niedopuszczenie pracownika do pracy</h3>
            <p>Decyzję o&nbsp;konsekwencjach przeprowadzonej kontroli trzeźwości <strong>podejmuje każdorazowo pracodawca.</strong></p>
            <p>Pracodawca <strong>nie dopuszcza pracownika do pracy,</strong> jeżeli kontrola trzeźwości wykaże obecność alkoholu
              w&nbsp;organizmie pracownika wskazującą na stan po użyciu alkoholu albo stan nietrzeźwości lub zachodzi uzasadnione
              podejrzenie, że pracownik stawił się do pracy w&nbsp;stanie po użyciu alkoholu albo w&nbsp;stanie nietrzeźwości
              lub spożywał alkohol w&nbsp;czasie pracy.</p>
            <p>Pracodawca może nałożyć na pracownika także <strong>karę upomnienia, nagany czy karę pieniężna</strong>, a&nbsp;informacje
              o&nbsp;zastosowanej karze pracodawca przechowuje w&nbsp;aktach osobowych pracownika.</p>
            <p>Pracodawca ma możliwość uznania nieobecności pracownika związanej ze stanem po użyciu alkoholu, nietrzeźwości
              lub po użyciu środków działających podobnie do alkoholu <strong>za usprawiedliwioną</strong> bez zachowania
              prawa do wynagrodzenia albo uznania, że obecność ta jest <strong>nieusprawiedliwiona</strong>.</p>
            <p>Pracodawca może uznać także, że pracownik dopuścił się ciężkiego naruszenia podstawowych obowiązków pracowniczych
              i&nbsp;<strong>rozwiązać umowę </strong> bez wypowiedzenia.</p>
            <p>W&nbsp;przypadku natomiast gdy wynik badania nie wskazuje na stan po użyciu alkoholu albo stan nietrzeźwości
              pracownika, okres niedopuszczenia pracownika do pracy jest okresem usprawiedliwionej nieobecności w&nbsp;pracy,
              za który pracownik zachowuje prawo do wynagrodzenia.</p>
            <h3>Czy pracodawca może wykonać badanie trzeźwości, jeśli pracownik odmawia poddania się badaniu? Kiedy badanie przeprowadza
              Policja?</h3>
            <p>Na żądanie pracodawcy lub pracownika niedopuszczonego do pracy badanie stanu trzeźwości pracownika przeprowadza
              uprawniony organ powołany do ochrony porządku publicznego (najczęściej będzie to Policja). W&nbsp;tym przypadku
              badanie przeprowadza się także przy użyciu metod niewymagających badania laboratoryjnego. Natomiast organ ten
              zleca przeprowadzenie <strong>badania z&nbsp;krwi</strong>, jeśli:</p>
            <ol>
              <li>nie ma możliwości przeprowadzenia badania metodą niewymagającą badania laboratoryjnego,</li>
              <li>pracownik niedopuszczony do pracy odmawia poddania się badaniu metodą niewymagającą badania laboratoryjnego,</li>
              <li>pracownik niedopuszczony do pracy żąda przeprowadzenia badania krwi, pomimo przeprowadzenia badania metodą
                niewymagającą badania laboratoryjnego,</li>
              <li>stan pracownika niedopuszczonego do pracy uniemożliwia przeprowadzenie badania metodą niewymagającą badania
                laboratoryjnego,</li>
              <li>nie ma możliwości wskazania stężenia alkoholu z&nbsp;powodu przekroczenia zakresu pomiarowego urządzenia wykorzystywanego
                do pomiaru.</li>
            </ol>
            <p>Pamiętać należy, że tego rodzaju badanie przeprowadza się każdorazowo <strong>z poszanowaniem godności i&nbsp;intymności
                pracownika,</strong> a&nbsp;zabieg pobrania krwi wykonać może jedynie osoba posiadająca odpowiednie kwalifikacje
              zawodowe.</p>
            <h3>Czy kontrola trzeźwości obejmuje także osoby wykonujące pracę na innej podstawie niż umowa o&nbsp;pracę?</h3>
            <p>Tak. Zasady kontroli pracowników stosuje się odpowiednio&nbsp;do osób współpracujących:</p>
            <ol>
              <li>wykonujących prace na innej podstawie niż stosunek pracy (na przykład na podstawie umowy zlecenie) czy też</li>
              <li>prowadzących na własny rachunek działalność gospodarczą&nbsp;- jeżeli ich pracę organizuje pracodawca.</li>
            </ol>
            <p> Źródła:</p>
            <ol>
              <li>Kodeks Pracy t.j. Dz. U. z&nbsp;2023 r., poz.240.</li>
              <li>https://www.biznes.gov.pl/pl/portal/004294</li>
            </ol>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
              <br>
          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>