<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Kredyt frankowy a rozwód – co z długiem po rozstaniu?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/kredyt-frankowy-a-rozwd--co-z-dugiem-po-rozstaniu" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Kredyt frankowy a rozwód – co z długiem po rozstaniu?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO BANKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/kredyt-frankowy-a-rozwod.jpg" alt="kredyt-frankowy-a-rozwd--co-z-dugiem-po-rozstaniu">
          </div>
          <div style="padding-bottom:3rem">
            <p>Rozwód to trudny moment w życiu – zarówno emocjonalnie, jak i organizacyjnie. Szczególnie skomplikowane staje
              się rozstanie, gdy byli małżonkowie mają wspólny kredyt hipoteczny, zwłaszcza kredyt we frankach szwajcarskich.
              <strong>Co dzieje się z takim kredytem po rozwodzie? Kto spłaca dług? Czy można coś z tym zrobić?</strong>
              Na te pytania odpowiem w dzisiejszym wpisie.</p>
            <h2>Kredyt frankowy – wspólne zobowiązanie</h2>
            <p>Większość małżeństw zaciąga kredyt hipoteczny wspólnie – podpisując umowę kredytową razem. Oznacza to, że oboje
              są współkredytobiorcami i <strong>razem odpowiadają za spłatę zobowiązania wobec banku</strong>.</p>
            <p><em>Przykład: Małżeństwo Kowalskich wzięło w 2008 roku kredyt we frankach szwajcarskich na zakup mieszkania.
                Oboje podpisali umowę kredytową. Po latach zdecydowali się na rozwód. Co teraz z kredytem? Rozwód nie zwalnia
                z długu Rozwód nie oznacza automatycznego rozwiązania spraw finansowych. </em><strong><em>Banku nie interesuje,
                  że małżonkowie się rozwiedli</em></strong><em> – dla niego wciąż są dwie osoby, które podpisały umowę i
                są zobowiązane do spłaty. Nawet jeśli z mieszkania korzysta tylko jeden z małżonków to drugi nadal ponosi
                odpowiedzialność za kredyt – dopóki formalnie nie zostanie z niego zwolniony.</em></p>
            <h2>Czy można „przepisać” kredyt na jedną osobę?</h2>
            <p><strong>Tak</strong>. Żeby jeden z byłych małżonków przejął całe zobowiązanie, musi:</p>
            <ol>
              <li>Uzyskać zgodę banku,</li>
              <li>Podpisać aneks do umowy kredytowej.</li>
            </ol>
            <p><em>Przykład: Pani Anna po rozwodzie chciała przejąć mieszkanie i spłacać kredyt sama. Złożyła wniosek do banku
                o zwolnienie byłego męża z długu. Niestety – bank uznał, że jej dochody są zbyt niskie i odmówił. W takiej
                sytuacji byli małżonkowie nadal są wspólnie odpowiedzialni za dług, nawet jeśli jedno z nich tam nie mieszka.</em></p>
            <h2>Kredyt frankowy a podział majątku</h2>
            <p>W ramach podziału majątku po rozwodzie można uregulować, komu przypadnie nieruchomość, a kto i w jakim zakresie
              będzie odpowiadał za kredyt.</p>
            <p>Najczęściej wygląda to tak:</p>
            <ul>
              <li>Jedno z małżonków zatrzymuje nieruchomość,</li>
              <li>Strony uzgadniają, kto spłaca dalej kredyt – ale to nadal nie wpływa na odpowiedzialność wobec banku.</li>
            </ul>
            <h2>Czy po rozwodzie można pozwać bank za kredyt frankowy?</h2>
            <p><strong>Tak! </strong>Wiele osób błędnie zakłada, że skoro kredyt był wspólny, to po rozwodzie nie można już
              dochodzić swoich praw wobec banku. Tymczasem <strong>brak jest jakichkolwiek przeszkód prawnych</strong>, aby
              byli małżonkowie wystąpili z pozwem o unieważnienie umowy kredytu frankowego. Jeśli kredyt był spłacany po
              równo przez byłych małżonków, to <strong>przysługuje im zwrot nadpłaconych rat w równych częściach</strong>.</p>
            <p><em>Przykład z praktyki:</em><strong><em> </em></strong><em>Pani Monika i Pan Andrzej rozwiedli się w 2020 roku.
                Przed rozwodem wspólnie spłacali kredyt frankowy – każde z nich wpłacało po połowie raty w ramach wspólności
                ustawowej. W 2024 roku Pani Monika i Pan Andrzej zdecydowali się pozwać bank. Sąd unieważnił umowę. W toku
                rozliczeń ustalono, że z tytułu spłaconych rat do odzyskania jest 120 000 zł. Ponieważ raty były płacone
                po połowie, każdemu z byłych małżonków należało się po 60 000 zł.</em></p>
            <h2>Podsumowanie – nie czekaj, działaj!</h2>
            <p>Jeśli miałeś wspólny kredyt we frankach z byłym małżonkiem i chcesz odzyskać niesłusznie zapłacone raty – <strong>masz
                pełne prawo dochodzić swoich roszczeń od banku</strong>. Rozwód nie zamyka drogi do walki o unieważnienie
              umowy kredytowej ani o odzyskanie pieniędzy.</p>
            <p>Potrzebujesz analizy swojej sytuacji? Nie wiesz, czy możesz samodzielnie wystąpić z pozwem? Zastanawiasz się,
              jak wygląda podział korzyści po unieważnieniu kredytu?</p>
            <p><a href="#contact" class="smoothscroll"><strong>Skontaktuj się z Kancelarią Radcy Prawnego Kamila Gierus-Lenczner</strong></a><strong>.</strong></p>
            <p>Pomogę Ci zrozumieć Twoje prawa, ocenię możliwości i poprowadzę sprawę przeciwko bankowi – skutecznie i z pełnym
              zaangażowaniem.</p>
              <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
              <br>          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>