<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Kto odpowiada za utrzymanie wspólnego ogrodzenia i znaków granicznych?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/kto-odpowiada-za-utrzymanie-wsplnego-ogrodzenia-i-znakw-granicznych" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Kto odpowiada za utrzymanie wspólnego ogrodzenia i znaków granicznych?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/kto-odpowiada-za-utrzymanie-wspolnego-ogrodzenia.jpg" alt="kto-odpowiada-za-utrzymanie-wsplnego-ogrodzenia-i-znakw-granicznych">
          </div><div style="padding-bottom:3rem"><p>Wspólne ogrodzenie czy granica działki to nie tylko fizyczna bariera – to również prawna granica odpowiedzialności właścicieli sąsiednich nieruchomości. Kwestia utrzymania ogrodzenia czy znaków granicznych często staje się punktem zapalnym w relacjach sąsiedzkich. <strong>Kto ma je naprawić? Kto powinien pokryć koszty?</strong></p><h2>Kto odpowiada za utrzymanie ogrodzenia wspólnego?</h2><p>Zgodnie z art. 154 § 1 Kodeksu cywilnego, ogrodzenie znajdujące się na granicy należy do właścicieli obu sąsiednich nieruchomości. A zatem: utrzymanie, konserwacja i ewentualne remonty urządzeń na granicy gruntów sąsiadujących są <strong>wspólnym obowiązkiem</strong> właścicieli.</p><p class="ql-align-justify"><em>Art.&nbsp;154 kodeksu cywilnego [Korzystanie z urządzeń na granicy gruntów sąsiadujących; koszty utrzymania urządzeń na granicy gruntów sąsiadujących]</em></p><p class="ql-align-justify"><em>§&nbsp;1.&nbsp;Domniemywa się, że mury, płoty, miedze, rowy i inne urządzenia podobne, znajdujące się na granicy gruntów sąsiadujących, służą do wspólnego użytku sąsiadów. To samo dotyczy drzew i krzewów na granicy.</em></p><p class="ql-align-justify"><em>§&nbsp;2.&nbsp;Korzystający z wymienionych urządzeń </em><strong><em>obowiązani są ponosić wspólnie koszty</em></strong><em> ich utrzymania.</em></p><p>W praktyce oznacza to <strong>konieczność porozumienia </strong>się co do naprawy, malowania, a także ewentualnej wymiany ogrodzenia. Jeżeli jedna strona nie wyraża zgody na prace lub odmawia partycypacji w kosztach, sprawę można skierować do sądu.</p><p><em>Przykład: Ogrodzenie zniszczone przez silny wiatr wymaga naprawy. Jeden z sąsiadów nie chce uczestniczyć w kosztach. W takim przypadku drugi właściciel może dochodzić zwrotu części kosztów na drodze sądowej, wykazując konieczność remontu i współwłasność ogrodzenia.</em></p><p class="ql-align-justify"><em>Art.&nbsp;152 kodeksu cywilnego&nbsp;[Obowiązek współpracy przy rozgraniczaniu gruntów i utrzymaniu znaków granicznych]</em></p><p class="ql-align-justify"><em>Właściciele gruntów sąsiadujących </em><strong><em>obowiązani są do współdziałania</em></strong><em> przy rozgraniczeniu gruntów oraz przy utrzymywaniu stałych znaków granicznych; koszty rozgraniczenia oraz </em><strong><em>koszty</em></strong><em> urządzenia <span class="ql-cursor">﻿</span>i utrzymywania stałych znaków granicznych </em><strong><em>ponoszą po połowie</em></strong><em>.</em></p><h2>Kiedy potrzebna jest interwencja prawnika lub sądu?</h2><p>Najczęściej w sytuacjach spornych:</p><ul><li>sąsiad odmawia współfinansowania naprawy ogrodzenia wspólnego;</li><li>ogrodzenie zostało samowolnie przesunięte lub zbudowane na cudzym terenie;</li><li>jeden z właścicieli usuwa znaki graniczne;</li><li>istnieje spór co do faktycznego przebiegu granicy działek.</li></ul><p>W takich przypadkach <strong>warto skonsultować się z prawnikiem</strong>, który pomoże ustalić stan prawny, przygotować wezwanie do współdziałania lub zainicjować postępowanie sądowe.</p><p><a href="/#contact" class="smoothscroll">Skontaktuj się z Kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>