<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Kupno auta z ukrytą wadą – co mogę zrobić?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/kupno-auta-z-ukryt-wad--co-mog-zrobi" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Kupno auta z ukrytą wadą – co mogę zrobić?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/wada-ukryta.jpg" alt="kupno-auta-z-ukryt-wad--co-mog-zrobi">
          </div><div style="padding-bottom:3rem"><h2>Rękojmia za wady - Twoje prawa jako kupującego</h2><p>Zakup używanego samochodu - zarówno od osoby prywatnej, jak i od komisu – zawsze wiąże się z ryzykiem. Czasem już kilka dni po transakcji okazuje się, że auto ma istotne wady, o których nie było mowy przy sprzedaży. Co możesz wtedy zrobić jako kupujący? Jak działa rękojmia i czy można z niej skorzystać także przy umowie z osobą prywatną?</p><h2>Czym jest rękojmia za wady rzeczy sprzedanej?</h2><p>Rękojmia to <strong>ustawowa odpowiedzialność sprzedawcy</strong> za wady rzeczy – nie trzeba jej wpisywać do umowy. Oznacza, że jeśli auto ma wadę, która <strong>istniała już w chwili zakupu</strong> (nawet jeśli ujawniła się później), masz prawo dochodzić swoich roszczeń. Rękojmia przysługuje <strong>niezależnie od gwarancji</strong> i nie musi być specjalnie uzgadniana między stronami.</p><p>Podstawą prawną jest art. <strong>556 i następne Kodeksu cywilnego</strong>.</p><h2>Wada fizyczna a wada prawna – co to znaczy?</h2><h3><strong>Wada fizyczna</strong> – to np.:</h3><ul><li>uszkodzony silnik, zawieszenie, skrzynia biegów,</li><li>cofnięty licznik,</li><li>zalane auto, po powodzi,</li><li>brak sprawnego układu hamulcowego,</li><li>niesprawna klimatyzacja - jeśli była opisana jako „działająca”.</li></ul><p>Wada fizyczna to <strong>niezgodność pojazdu z umową lub zapewnieniami sprzedawcy</strong>.</p><h3><strong>Wada prawna</strong> – to sytuacja, gdy:</h3><ul><li>auto <strong>nie należy do sprzedającego</strong> (np. zostało skradzione),</li><li>auto jest <strong>zajęte przez komornika</strong> (zajęcie egzekucyjne),</li><li>pojazd stanowi współwłasność, a sprzedaż nastąpiła bez zgody drugiego właściciela.</li></ul><h2>Jakie masz prawa jako kupujący?</h2><p>Jeśli stwierdzisz, że samochód ma ukrytą wadę, możesz:</p><ol><li><strong>Zażądać naprawy pojazdu</strong> – jeśli wada jest możliwa do usunięcia,</li><li><strong>Domagać się obniżenia ceny</strong> – proporcjonalnie do wartości auta z usterką,</li><li><strong>Odstąpić od umowy</strong> – tylko jeśli wada jest istotna i uniemożliwia normalne użytkowanie auta,</li><li><strong>Zażądać wymiany pojazdu na wolny od wad</strong></li></ol><h2>A co jeśli sprzedawca był osobą prywatną?</h2><p>Wbrew powszechnej opinii – <strong>rękojmia również obowiązuje przy sprzedaży między osobami fizycznymi</strong>, z jednym wyjątkiem:</p><h2>Jak dochodzić swoich praw?</h2><ol><li><strong>Złóż reklamację pisemną</strong> - opisz wadę i żądanie (naprawa, obniżenie ceny, odstąpienie od umowy).</li><li><strong>Zachowaj dowody kontaktu</strong> - maile, SMS-y, korespondencję.</li><li><strong>Poproś o ekspertyzę</strong> rzeczoznawcy samochodowego - pomoże wykazać wadę i jej datę powstania.</li><li><strong>W przypadku braku reakcji - skieruj sprawę do sądu</strong>.</li></ol><p>Przykład z życia: Pan Michał kupił od osoby prywatnej samochód „w idealnym stanie”. Po tygodniu silnik zaczął dymić - okazało się, że auto miało poważną awarię wcześniej zamaskowaną przez sprzedawcę. Mimo że w umowie była klauzula „rękojmia wyłączona”, sąd przyznał rację kupującemu – bo wada została <strong>zatajona świadomie</strong>.</p><h2>Potrzebujesz pomocy?</h2><p>Jeśli kupiłeś pojazd z ukrytą wadą i nie wiesz, jak dochodzić swoich praw – <a href="#contact" class="smoothscroll"><strong>skontaktuj się z kancelarią</strong></a>. Pomagam przygotować reklamację, reprezentuję w negocjacjach oraz prowadzę sprawy sądowe z zakresu rękojmi czy oszustwa.</p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>