<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Mobbing w pracy – jak udowodnić i dochodzić swoich praw?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/mobbing-w-pracy--jak-udowodni-i-dochodzi-swoich-praw" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Mobbing w pracy – jak udowodnić i dochodzić swoich praw?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO PRACY</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/mobing-w-pracy.jpg" alt="mobbing-w-pracy--jak-udowodni-i-dochodzi-swoich-praw">
          </div>
          <div style="padding-bottom:3rem">
            <p><strong>Mobbing</strong> to zjawisko, które niestety nadal występuje w wielu miejscach pracy. Polega na długotrwałym
              i uporczywym nękaniu lub zastraszaniu pracownika, które prowadzi do jego poniżenia, ośmieszenia lub izolacji.
              Może to powodować obniżenie poczucia własnej wartości i pogorszenie stanu zdrowia psychicznego lub fizycznego
              pracownika.</p>
            <h2>Jak rozpoznać mobbing?</h2>
            <p>Przykładowe zachowania, które mogą świadczyć o mobbingu:</p>
            <ul>
              <li>wyśmiewanie,</li>
              <li>poniżanie</li>
              <li>systematyczne krytykowanie pracy bez uzasadnienia,</li>
              <li>pomijanie przy awansach czy nagrodach,</li>
              <li>obrażanie,</li>
              <li>izolowanie pracownika od zespołu.</li>
            </ul>
            <h2>Co zrobić, jeśli jesteś ofiarą mobbingu?</h2>
            <ol>
              <li><strong>Zbieraj dowody</strong> – prowadź notatki z datami i opisem zdarzeń, zapisuj wiadomości e-mail, SMS,
                zrób screeny rozmów.</li>
              <li><strong>Szukaj świadków</strong> – jeśli inni współpracownicy byli obecni przy niewłaściwych zachowaniach,
                ich zeznania mogą być bardzo pomocne.</li>
              <li><strong>Zgłoś sprawę przełożonemu lub działowi HR</strong> – jeśli to możliwe, spróbuj najpierw rozwiązać sprawę
                wewnętrznie.</li>
              <li><strong>Skonsultuj się z prawnikiem</strong> – jeśli sytuacja nie ulega poprawie, warto uzyskać pomoc prawną
                i rozważyć złożenie pozwu.</li>
            </ol>
            <h2>Czego możesz dochodzić?</h2>
            <p>Ofiara mobbingu ma prawo żądać:</p>
            <ul>
              <li><strong>Zadośćuczynienia</strong> za doznaną krzywdę,</li>
              <li><strong>Odszkodowania</strong> za rozwiązanie umowy o pracę z winy pracodawcy,</li>
              <li><strong>Równoległego postępowania karnego</strong>, jeśli działania sprawcy noszą znamiona przestępstwa.</li>
            </ul>
            <h2>Pamiętaj!</h2>
            <p>Udowodnienie mobbingu nie jest proste, ale przy odpowiednim przygotowaniu i wsparciu prawnika – jak najbardziej
              możliwe.</p>
            <p>Jeśli podejrzewasz, że jesteś ofiarą mobbingu – <strong>nie czekaj</strong>. <a href="/#contact" class="smoothscroll">Skontaktuj
                się z Kancelarią Radcy Prawnego Kamila Gierus-Lenczner</a> – pomogę Ci zawalczyć o swoje prawa.</p>
            <p><br></p>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
            <br>          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>