<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]> <!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Nazwisko małżonków po ślubie – jakie można wybrać? Jakie dokumenty wymienić? Jakie nazwisko będą nosić dzieci? - Prawo rodzinne" }); -%>
  <head>
      <link rel="canonical" href="https://gierusradca.pl/blog/nazwisko-malzonkow-po-slubie" />
    </head>
  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Nazwisko małżonków po ślubie – jakie można wybrać? Jakie dokumenty wymienić? Jakie nazwisko
            będą nosić dzieci? </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/nazwisko-malzonkow-po-slubie.jpg" alt="Nazwisko małżonków po ślubie">
          </div>
          <p class="blog-text">
            Zawarcie związku małżeńskiego pociąga za sobą doniosłe konsekwencje prawne – dochodzi do zmiany ustroju majątkowego, zmieniają
            się zasady dziedziczenia ustawowego ale także zwykle zmianie ulega nazwisko jednego z&nbsp;małżonków.

          </p>
          <h3>Jakie nazwisko mogą nosić małżonkowie?
          </h3>
          <p class="blog-text">
            Wraz z&nbsp;zawarciem związku małżeńskiego kobiety zwykle decydują się na zmianę dotychczas noszonego nazwiska poprzez przyjęcie
            nazwiska męża. Warto jednak wiedzieć jakie możliwości przewiduje polskie prawo.


          </p>
          <p class="blog-text">
            Małżonkowie mogą:
            <p class="blog-text">
              <ol class="blog-text blog-ol">
                <li>
                  zachować swoje dotychczasowe nazwiska,

                </li>
                <li>
                  przyjąć wspólne nazwisko (żony lub męża),

                </li>
                <li>
                  dołączyć do swojego dotychczas noszonego nazwiska, nazwisko małżonka (przy czym utworzone w&nbsp;ten sposób nazwisko nie może
                  składać się z&nbsp;więcej niż dwóch członów).

                </li>

              </ol>

            </p>
            <h3>Jakie nazwiska mogą nosić dzieci urodzone w&nbsp;małżeństwie?

            </h3>
            <p class="blog-text">
              Podczas ustalania nazwiska jakie małżonkowie nosić będą po ślubie, zobowiązani są do wskazania jakie nazwisko nosić będą
              wspólne dzieci małżonków. Co istotne, oświadczenie w&nbsp;tym przedmiocie złożone przez małżonków przed kierownikiem
              urzędu stanu cywilnego jeszcze przed zawarciem małżeństwa <strong class="txt-bold">nie ma charakteru ostatecznego,</strong> bowiem małżonkowie
              mogą przy sporządzaniu aktu stanu cywilnego pierwszego dziecka, zmienić nazwisko dziecka poprzez złożenia zgodnego
              oświadczenia.

            </p>
            <p class="blog-text">
              Co do zasady i&nbsp;z&nbsp;mocy samego prawa, jeśli małżonkowie noszą to samo nazwisko, dzieci pochodzące z&nbsp;małżeństwa będą nosić nazwisko
              takie jak przyjęte przez małżonków. Małżonkowie mogą jednak inaczej ustalić tę kwestię, gdy noszą różne nazwiska.
              Rodzice mają możliwość wskazać, że dziecko będzie nosić nazwisko matki albo nazwisko ojca lub nazwisko będące
              połączeniem nazwiska matki z&nbsp;nazwiskiem ojca dziecka.<strong class="txt-bold"> W&nbsp;przypadku gdy małżonkowie nie złożą zgodnych oświadczeń
              w&nbsp;sprawie nazwiska dziecka, nosić ono będzie nazwisko składające się z&nbsp;nazwiska matki i&nbsp;dołączonego do niego
              nazwiska ojca.</strong>

            </p>
            <h3>Jakie dokumenty należy wymienić w&nbsp;przypadku zmiany nazwiska?

            </h3>
            <p class="blog-text">
              Jeśli przebywasz za granicą, nie musisz przyjeżdżać do Polski, w&nbsp;celu złożenia oświadczenia o&nbsp;powrocie do nazwiska noszonego
              przed zawarciem małżeństwa. Istnieje bowiem możliwość złożenia oświadczenia przed <strong class="txt-bold">konsulem.</strong>
            </p>

            <p class="blog-text">
              Zmiana nazwiska po ślubie wiąże się z&nbsp;koniecznością wymiany dokumentów na nowe, uwzględniające nazwisko przyjęte po wstąpieniu
              w&nbsp;związek małżeński. O&nbsp;jakich dokumentach należy pamiętać:
              <p class="blog-text">
                <ol class="blog-text blog-ol">
                  <li>
                    <strong class="txt-bold">dowód osobisty,</strong>
                  </li>
                  <li>
                    <strong class="txt-bold">paszport,</strong>
                  </li>
                  <li>
                    <strong class="txt-bold">prawo jazdy.</strong>
                  </li>
                </ol>
              </p>
              <p class="blog-text">
                Wymiana dowodu osobistego jest bezpłatna, za pozostałe dokumenty będziesz zobowiązany zapłacić.

              </p>

              <p class="blog-text">
                Pamiętaj także o&nbsp;konieczności zgłoszenia zmiany nazwiska do <strong class="txt-bold">banku,</strong> w&nbsp;którym posiadasz rachunek. Możesz tego dokonać po otrzymaniu
                nowego dowodu osobistego.

              </p>
              <p class="blog-text">
                Jeśli jesteś przedsiębiorcą pamiętaj także o&nbsp;zgłoszeniu zmiany w&nbsp;Centralnej Ewidencji i&nbsp;Informacji o&nbsp;Działalności Gospodarczej.
                Jeśli pracujesz – poinformuj pracodawcę o&nbsp;zmianie danych, a&nbsp;jeśli studiujesz – przekaż informację do dziekanatu
                uczelni.

              </p>
              <p class="blog-text">
                W&nbsp;przypadku wątpliwości – <strong class="txt-bold">skontaktuj się z&nbsp;Kancelarią.</strong>
              </p>


              <span>
                <span class="blog-data">opublikowano: 30.09.2022 r.</span>

              </span>

              <br>

        </div>

      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>
