<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Obniżenie alimentów - kiedy jest możliwe i jak się o nie ubiegać?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/obizenie-alimentow-kiedy-mozliwe" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Obniżenie alimentów - kiedy jest możliwe i jak się o nie ubiegać? </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/obnizenie-alimentow.jpeg" alt="obnizenie-alimentow">
          </div><div style="padding-bottom:3rem">

          <p>Nie zawsze wysokość aliment&oacute;w ustalona przez sąd odpowiada aktualnej sytuacji życiowej
            i&nbsp;finansowej rodzica zobowiązanego do ich płacenia. Zmiany w&nbsp;dochodach, nowe zobowiązania lub usamodzielnienie
            się dziecka mogą stanowić podstawę do ich obniżenia. W&nbsp;jaki spos&oacute;b można tego dokonać?</p>
          <h2>W jakich przypadkach można starać się o&nbsp;obniżenie aliment&oacute;w?</h2>
          <p>Obniżenie aliment&oacute;w jest uzasadnione, gdy:&nbsp;</p>
          <p>
            <ul>
              <li>rodzic płacący alimenty stracił pracę lub jego dochody znacząco spadły &ndash; np. w&nbsp;wyniku choroby, niepełnosprawności
                lub sytuacji na rynku pracy,</li>
              <li>dziecko stało się niezależne finansowo &ndash; np. ukończyło edukację, podjęło pracę zarobkową
                i&nbsp;nie wymaga już takiego samego wsparcia,</li>
              <li>zmniejszyły się wydatki na utrzymanie dziecka &ndash; np. zniknęły koszty leczenia, terapii czy dodatkowej
                edukacji,</li>
              <li>dziecko zamieszkało z&nbsp;rodzicem zobowiązanym do płacenia aliment&oacute;w &ndash; w&nbsp;takim przypadku może
                dojść nawet do całkowitego uchylenia obowiązku alimentacyjnego.</li>
            </ul>
          </p>
          <h2>Jak obniżyć alimenty?</h2>>
          <p>Jeśli występują przesłanki do obniżenia aliment&oacute;w, konieczne jest formalne wystąpienie
            do sądu:
            <ul>
              <li>przygotowanie pozwu &ndash; należy dokładnie uzasadnić zmianę sytuacji oraz dołączyć dokumenty potwierdzające
                nowe okoliczności (np. zaświadczenia o&nbsp;dochodach, rachunki, dokumentację medyczną czy potwierdzenie zatrudnienia
                dziecka),</li>
              <li>złożenie pozwu w&nbsp;sądzie &ndash; wniosek o&nbsp;obniżenie aliment&oacute;w składa się w&nbsp;sądzie właściwym dla
                miejsca zamieszkania dziecka,</li>
              <li>rozprawa sądowa &ndash; w&nbsp;trakcie postępowania obie strony przedstawiają swoje argumenty i&nbsp;dowody.
                Sąd ocenia, czy rzeczywiście zaszły istotne zmiany uzasadniające zmniejszenie wysokości świadczenia.</li>
            </ul>
          </p>

          <h2>Czy da się uniknąć postępowania sądowego?</h2>
          <p>Jeśli obie strony dojdą do porozumienia, można zawrzeć <strong>ugodę przed mediatorem</strong>.
            Mediacja pozwala na <strong>szybkie i&nbsp;mniej kosztowne rozwiązanie sprawy, bez konieczności długiego procesu</strong>.</p>
          <h3>Potrzebujesz wsparcia?</h3>
          <p>Postępowanie o&nbsp;obniżenie aliment&oacute;w wymaga solidnych argument&oacute;w i&nbsp;profesjonalnego
            przygotowania dokumentacji.<strong>&nbsp;Skorzystaj z&nbsp;pomocy naszej kancelarii &ndash; pomożemy Ci przejść przez
              cały proces krok po kroku</strong>.&nbsp;</p>
          <p>Um&oacute;w się na konsultację! W&nbsp;naszej kancelarii&nbsp;<strong>działa r&oacute;wnież
              mediator</strong>, kt&oacute;ry może pom&oacute;c&nbsp;w osiągnięciu porozumienia&nbsp;<strong>bez konieczności
              prowadzenia sprawy w&nbsp;sądzi</strong>e. <a href="#contact" class="smoothscroll">Skontaktuj się</a>&nbsp;i sprawdź, jakie masz możliwości!
          </p>
          <center>
            <a href="#contact" class="smoothscroll">Skontaktuj się</a>
          </center>
          <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
              <br>
        </div></section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>