<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Obniżenie alimentów - kiedy jest możliwe i jak się o nie ubiegać?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/obnienie-alimentw---kiedy-jest-moliwe-i-jak-si-o-nie-ubiega" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Obniżenie alimentów - kiedy jest możliwe i jak się o nie ubiegać?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/obnizenie-alimentow.jpeg" alt="obnienie-alimentw---kiedy-jest-moliwe-i-jak-si-o-nie-ubiega">
          </div><div style="padding-bottom:3rem"><p>Nie zawsze wysokość alimentów ustalona przez sąd odpowiada aktualnej sytuacji życiowej i&nbsp;finansowej rodzica zobowiązanego do ich płacenia. Zmiany w&nbsp;dochodach, nowe zobowiązania lub usamodzielnienie się dziecka mogą stanowić podstawę do ich obniżenia. W&nbsp;jaki sposób można tego dokonać?</p><h2>W jakich przypadkach można starać się o&nbsp;obniżenie alimentów?</h2><p>Obniżenie alimentów jest uzasadnione, gdy:&nbsp;</p><ul><li>rodzic płacący alimenty stracił pracę lub jego dochody znacząco spadły – np. w&nbsp;wyniku choroby, niepełnosprawności lub sytuacji na rynku pracy,</li><li>dziecko stało się niezależne finansowo – np. ukończyło edukację, podjęło pracę zarobkową i&nbsp;nie wymaga już takiego samego wsparcia,</li><li>zmniejszyły się wydatki na utrzymanie dziecka – np. zniknęły koszty leczenia, terapii czy dodatkowej edukacji,</li><li>dziecko zamieszkało z&nbsp;rodzicem zobowiązanym do płacenia alimentów – w&nbsp;takim przypadku może dojść nawet do całkowitego uchylenia obowiązku alimentacyjnego.</li></ul><h2>Jak obniżyć alimenty?</h2><p><br></p><p>&gt;</p><p>Jeśli występują przesłanki do obniżenia alimentów, konieczne jest formalne wystąpienie do sądu:</p><ul><li>przygotowanie pozwu – należy dokładnie uzasadnić zmianę sytuacji oraz dołączyć dokumenty potwierdzające nowe okoliczności (np. zaświadczenia o&nbsp;dochodach, rachunki, dokumentację medyczną czy potwierdzenie zatrudnienia dziecka),</li><li>złożenie pozwu w&nbsp;sądzie – wniosek o&nbsp;obniżenie alimentów składa się w&nbsp;sądzie właściwym dla miejsca zamieszkania dziecka,</li><li>rozprawa sądowa – w&nbsp;trakcie postępowania obie strony przedstawiają swoje argumenty i&nbsp;dowody. Sąd ocenia, czy rzeczywiście zaszły istotne zmiany uzasadniające zmniejszenie wysokości świadczenia.</li></ul><h2>Czy da się uniknąć postępowania sądowego?</h2><p>Jeśli obie strony dojdą do porozumienia, można zawrzeć <strong>ugodę przed mediatorem</strong>. Mediacja pozwala na <strong>szybkie i&nbsp;mniej kosztowne rozwiązanie sprawy, bez konieczności długiego procesu</strong>.</p><h3>Potrzebujesz wsparcia?</h3><p>Postępowanie o&nbsp;obniżenie alimentów wymaga solidnych argumentów i&nbsp;profesjonalnego przygotowania dokumentacji.<strong>&nbsp;Skorzystaj z&nbsp;pomocy naszej kancelarii – pomożemy Ci przejść przez cały proces krok po kroku</strong>.&nbsp;</p><p>Umów się na konsultację! W&nbsp;naszej kancelarii&nbsp;<strong>działa również mediator</strong>, który może pomóc&nbsp;w osiągnięciu porozumienia&nbsp;<strong>bez konieczności prowadzenia sprawy w&nbsp;sądzi</strong>e. <a href="/#contact">Skontaktuj się</a>&nbsp;i sprawdź, jakie masz możliwości!</p><p><a href="#contact">Skontaktuj się</a></p><p>opublikowano: 22.03.2025 r.</p>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>