<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Odpowiedzialność za szkody wyrządzone przez zwierzę - Prawo cywilne" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/odpowiedzialno-za-szkody-wyrzdzone-przez-zwierz---prawo-cywilne"
    />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Odpowiedzialność za szkody wyrządzone przez zwierzę - Prawo cywilne</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/" alt="odpowiedzialno-za-szkody-wyrzdzone-przez-zwierz---prawo-cywilne">
          </div>
          <div style="padding-bottom:3rem">
            <p> &lt;%- include('../../views/components/head.ejs', { title: "Odpowiedzialność za szkody wyrządzone przez zwierzę
              - Prawo cywilne" }); -%&gt; &lt;%- include('../../views/components/headerBlog.ejs'); -%&gt; </p>
            <h1>Odpowiedzialność za szkody wyrządzone przez zwierzę</h1>
            <h4>PRAWO CYWILNE</h4>
            <p class="ql-align-center"><img src="../images/szkody-wyrzadzone-przez-zwierze.jpg" alt="rozwod"></p>
            <p>Odpowiedzialność za szkody wyrządzone przez zwierzęta reguluje art. 431 k.c. Zgodnie z&nbsp;wymienionym przepisem
              <em>„kto zwierzę chowa albo się nim posługuje, obowiązany jest do naprawienia wyrządzonej przez nie szkody
                niezależnie od tego, czy było pod jego nadzorem, czy też zabłąkało się lub uciekło, chyba że ani on, ani
                osoba, za którą ponosi odpowiedzialność, nie ponoszą winy”</em>.</p>
            <p><br></p>
            <p>Szkoda musi być zatem wyrządzona przez zwierzę chowane, takie, które znajduje się pod kontrolą człowieka. Zwierzę
              powinno działać z&nbsp;własnego popędu -<strong> nie chodzi o&nbsp;sytuacje, w&nbsp;których zwierzę jest instrumentem
                w&nbsp;rękach człowieka.</strong> Podmiotem odpowiedzialnym za szkodę jest więc każdy, kto zwierzę chowa
              albo się nim posługuje. <strong>Bez znaczenia jest czy zwierzę było pod kontrolą czy też uciekło </strong>-
              wówczas jest to wina w&nbsp;nadzorze i&nbsp;chowający również ponosi odpowiedzialność. Jednak o&nbsp;"chowaniu"
              można mówić dopiero wówczas, gdy piecza wykonywana jest w&nbsp;sposób trwały (nie doraźnie, okazjonalnie).</p>
            <p>Jak wynika z&nbsp;powyższego, odpowiedzialność odszkodowawczą zgodnie z&nbsp;art. 431 § 1 k.c. ponosi ten, kto
              zwierzę chowa lub się nim posługuje. Oznacza to, że artykuł 431 k.c. ma zastosowanie wyłącznie do zwierząt
              hodowanych, nie znajduje natomiast zastosowania, jeżeli szkodę spowodowało zwierzę żyjące w&nbsp;stanie wolnym.</p>
            <p>Chowanie zwierzęcia oznacza jego pozostawanie pod stałą pieczą danej osoby. <strong>Dla odpowiedzialności odszkodowawczej
                nie ma znaczenia, czy chowający jest właścicielem zwierzęcia czy przysługuje mu jakiekolwiek inne prawo do
                tego zwierzęcia.</strong> Osoba posługująca się zwierzęciem to osoba, która korzysta ze zwierzęcia jedynie
              przez czas krótki i&nbsp;w zasadzie tylko grzecznościowo. Posługujący się zwierzęciem powinien naprawić szkodę,
              jeśli została ona wyrządzona w&nbsp;czasie tego posługiwania się.</p>
            <p>Mając na uwadze powyższe, w&nbsp;przypadku spowodowania szkody przez zwierzę, które znajduje się pod pieczą człowieka,
              <strong>Poszkodowany może domagać się naprawienia wyrządzonej szkody. Art. 431 k.c. przewiduje więc możliwość
                roszczenia odszkodowawczego.</strong></p>
            <p> Źródła:</p>
            <ol>
              <li>Kodeks cywilny;</li>
              <li>wyrok SA w&nbsp;Łodzi z&nbsp;13.01.2021 r., I&nbsp;ACa 1002/20;</li>
              <li>wyrok SA w&nbsp;Krakowie z&nbsp;8.07.2015 r., I&nbsp;ACa 542/15;</li>
              <li>G. Karaszewski [w:] Kodeks cywilny. Komentarz aktualizowany, red. J. Ciszewski, P. Nazaruk.</li>
            </ol>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
              <br>
          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>