<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "ODRZUCENIE SPADKU W IMIENIU DZIECKA – KROK PO KROKU - Prawo spadkowe" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/odrzucenie-spadku-w-imieniu-dziecka--krok-po-kroku---prawo-spadkowe"
    />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">ODRZUCENIE SPADKU W IMIENIU DZIECKA – KROK PO KROKU - Prawo spadkowe</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO SPADKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/odrzucenie-spadku-w-imieniu-dziecka.jpg" alt="odrzucenie-spadku-w-imieniu-dziecka--krok-po-kroku---prawo-spadkowe">
          </div>
          <div style="padding-bottom:3rem">
            <p> &lt;%- include('../../views/components/head.ejs', { title: "ODRZUCENIE SPADKU W IMIENIU DZIECKA – KROK PO KROKU
              - Prawo spadkowe" }); -%&gt; &lt;%- include('../../views/components/headerBlog.ejs'); -%&gt;</p>
            <p><br></p>
            <h1>Odrzucenie spadku w imieniu dziecka – krok po kroku</h1>
            <h4>PRAWO SPADKOWE</h4>
            <p class="ql-align-center"><img src="../images/odrzucenie-spadku-w-imieniu-dziecka.jpg" alt="ODRZUCENIE SPADKU W IMIENIU DZIECKA"></p>
            <p>Główną przyczyna przez którą rodzice podejmują decyzje o&nbsp;odrzuceniu spadku w&nbsp;imieniu ich małoletniego
              dziecka są długi spadkowe pozostawione przez zmarłych spadkodawców. Zgodnie treścią z&nbsp;art. 1012 k.c. spadkobierca
              może bądź przyjąć spadek bez ograniczenia odpowiedzialności za długi (przyjęcie proste), bądź przyjąć spadek
              z&nbsp;ograniczeniem tej odpowiedzialności (przyjęcie z&nbsp;dobrodziejstwem inwentarza), bądź też spadek odrzucić.</p>
            <h2>Co należy zrobić aby odrzucić spadek w imieniu dziecka?</h2>
            <p>W&nbsp;pierwszej kolejności zaznaczyć należy, że zgodnie z&nbsp;art. 101 Kodeksu rodzinnego i&nbsp;opiekuńczego
              <strong>„rodzice obowiązani są sprawować z&nbsp;należytą starannością zarząd majątkiem dziecka</strong> pozostającego
              pod ich władzą rodzicielską” oraz <strong>„nie mogą bez zezwolenia sądu opiekuńczego dokonywać czynności przekraczających
                zakres zwykłego zarządu ani wyrażać zgody na dokonywanie takich czynności przez dziecko”</strong>. Ponadto,
              zgodnie z art. 156 KRiO „opiekun powinien uzyskiwać zezwolenie sądu opiekuńczego we wszelkich ważniejszych
              sprawach, które dotyczą osoby lub majątku małoletniego”.</p>
            <p>Mając na uwadze powyższe rodzice, którzy chcą odrzucić spadek w&nbsp;imieniu dziecka zobowiązani są do zwrócenia
              się do Sądu z&nbsp;wnioskiem o&nbsp;zezwolenie na dokonanie czynności przekraczającej zakres zwykłego zarządu.
              Innymi słowy – Sąd musi wrazić zgodę na odrzucenie spadku przez rodziców, w&nbsp;imieniu dziecka.</p>
            <p>Po uzyskaniu zgody Sądu na złożenie w&nbsp;imieniu małoletniego oświadczenia o&nbsp;odrzuceniu spadku, przedstawiciel
              ustawowy powinien niezwłocznie złożyć przed Sądem lub notariuszem oświadczenie o&nbsp;odrzuceniu spadku.</p>
            <p>Jak wynika z&nbsp;powyższego, odrzucenie spadku w&nbsp;imieniu małoletniego jest czynnością „dwuetapową”. Po
              pierwsze konieczne jest uzyskanie zgody Sądu na dokonanie czynności przekraczającej zakres zwykłego zarządu
              w&nbsp;imieniu dziecka. Dopiero następnie możliwe jest skuteczne złożenie oświadczenia o&nbsp;odrzuceniu spadku.</p>
            <p>Pamiętać należy, że <strong>złożenie oświadczenia o&nbsp;odrzuceniu spadku w&nbsp;imieniu dziecka, bez uprzedniej
                zgody Sądu jest czynnością bezwzględnie nieważną. </strong></p>
            <h2>Termin – czyli kiedy należy złozyć oświadczenie o odrzuceniu spadku?</h2>
            <p>Zgodnie z&nbsp;treścią art. 1015 k.c. oświadczenie o&nbsp;przyjęciu lub o&nbsp;odrzuceniu spadku może być złożone
              w&nbsp;ciągu <strong>sześciu miesięcy od dnia, w&nbsp;którym spadkobierca dowiedział się o&nbsp;tytule swego
                powołania.</strong></p>
            <p>Dowiedzenie się o&nbsp;tytule powołania do spadku należy pojmować jako powzięcie przez spadkobiercę wiarygodnej
              informacji o&nbsp;tym, że został on do danego spadku powołany z&nbsp;ustawy albo z&nbsp;testamentu. Jak wynika
              z powyższego, początek terminu oznacza się jako datę <strong>dowiedzenia się</strong> o&nbsp;powołaniu do spadku.</p>
            <p>Wobec tego, powstaje pytanie - kiedy termin sześciomiesięczny zaczyna biec, w&nbsp;odniesieniu do dziecka? Termin
              z&nbsp;art. 1015 §1 k.c. zacznie swój bieg z&nbsp;chwilą powzięcia przez jednego z&nbsp;rodziców wiedzy o&nbsp;tym,
              że dziecko zostało powołane do spadku.</p>
            <p>Mając na uwadze powyżej wskazany, dość krótki sześciomiesięczny termin na złożenia oświadczenia o&nbsp;odrzuceniu
              spadku a&nbsp;także biorąc pod uwagę czas trwania postępowań przed sądami powszechnymi, powstaje pytanie -
              czy termin sześciomiesięczny zostanie zachowany, jeśli przed jego upływem rodzice złożą do sądu wniosek o&nbsp;wyrażenie
              zgody na złożenie w&nbsp;imieniu małoletniego oświadczenia o&nbsp;odrzuceniu spadku? Odpowiedzi na to pytanie
              udzielił Sąd Najwyższy w&nbsp;postanowieniu o&nbsp;sygn. akt III CSK 329/15 gdzie wskazał, że: „od chwili złożenia
              do sądu opiekuńczego przez przedstawiciela ustawowego małoletniego spadkobiercy wniosku o&nbsp;zezwolenie na
              złożenie w&nbsp;jego imieniu oświadczenia o&nbsp;odrzuceniu spadku <strong>termin przewidziany w&nbsp;art.
                1015 §1 k.c. nie biegnie.</strong> Po uprawomocnieniu się postanowienia o&nbsp;udzieleniu zezwolenia przedstawiciel
              ustawowy małoletniego powinien złożyć to oświadczenie <strong>bezzwłocznie,</strong> chyba że wskazany termin,
              uwzględniając czas trwania postępowania opiekuńczego, jeszcze nie upłynął; wtedy złożenie oświadczenia o&nbsp;odrzuceniu
              spadku może nastąpić w&nbsp;dowolnej chwili, przed upływem sześciu miesięcy od dowiedzenia się przez przedstawiciela
              ustawowego o&nbsp;tytule powołania małoletniego”.</p>
            <p>Co istotne, termin przewidziany w&nbsp;art. 1015 §1 k.c. (sześć miesięcy) jest <strong>terminem zawitym prawa
                materialnego,</strong> w&nbsp;rezultacie czego <strong>nie podlega on przywróceniu.</strong></p>
            <p>Pamiętać należy także, że brak oświadczenia spadkobiercy w&nbsp;powyższym sześciomiesięcznym terminie jest jednoznaczny
              z&nbsp;przyjęciem spadku z&nbsp;dobrodziejstwem inwentarza, co oznacza że spadkobierca ponosi odpowiedzialność
              za długi spadkowe do wartości spadku.</p>
            <p> Źródła:</p>
            <ol>
              <li>Kodeks rodzinny i&nbsp;opiekuńczy;</li>
              <li>G. Karaszewski [w:] Kodeks cywilny. Komentarz, red. M. Balwicka-Szczyrba, A. Sylwestrzak, Warszawa 2022, art.
                1015;</li>
              <li>J. Ciszewski, J. Knabe [w:] Kodeks cywilny. Komentarz aktualizowany, red. P. Nazaruk, LEX/el. 2022, art. 1015;</li>
              <li>Postanowienie SN z&nbsp;28.09.2016 r., III CSK 329/15, OSNC 2017, nr 5, poz. 61.</li>
            </ol>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
            <br>
          </div>
      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>