<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Podwyższenie alimentów na dziecko - kiedy jest możliwe?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/podwyzszenie-alimentow-kiedy-mozliwe" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Podwyższenie alimentów na dziecko - kiedy jest możliwe? </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/podwyzszenie-alimentow.jpeg" alt="podwyzszenie-alimentow">
          </div>

          <p class="blog-text">Alimenty na dziecko powinny odpowiadać jego <strong>potrzebom oraz możliwościom zarobkowym
              rodzica</strong> zobowiązanego do ich płacenia. Jednak z biegiem lat <strong>potrzeby dziecka rosną</strong>
            &ndash; wyższe są koszty edukacji, leczenia, zajęć dodatkowych czy codziennego utrzymania. <strong>Jeśli dotychczasowa
              kwota aliment&oacute;w przestała wystarczać, możesz wystąpić o jej podwyższenie</strong>.</p>
          <h2>Kiedy można podwyższyć alimenty?</h2>
          <p class="blog-text">Podwyższenie aliment&oacute;w jest możliwe, gdy:&nbsp;</p>
          <ul class="blog-text blog-ol">
            <li>znacznie wzrosły koszty utrzymania dziecka &ndash; zwiększyły się wydatki na edukację, leczenie, dodatkowe
              zajęcia rozwijające zainteresowania lub potrzeby związane z wiekiem dziecka,&nbsp;</li>
            <li>zmieniła się sytuacja życiowa i finansowa rodzica zobowiązanego do płacenia &ndash; jeśli jego dochody wzrosły,
              a wciąż płaci alimenty ustalone kilka lat temu, można wystąpić o ich zwiększenie,</li>
            <li>Pojawiły się nowe potrzeby dziecka &ndash; może to być związane z rozpoczęciem edukacji w szkole średniej,
              studiami, koniecznością leczenia, rehabilitacji lub innymi ważnymi wydatkami,</li>
            <li>Inflacja i wzrost koszt&oacute;w życia &ndash; w Polsce koszty utrzymania stale rosną, co może stanowić argument
              w sprawie o podwyższenie aliment&oacute;w.</li>
          </ul>
          <h2>Jakie formalności trzeba spełnić?</h2>
          <p class="blog-text">Aby uzyskać wyższe alimenty, należy przejść przez kilka krok&oacute;w:</p>
          <p class="blog-text">1. Zebranie dowod&oacute;w &ndash; kluczowe jest <strong>udokumentowanie wzrostu koszt&oacute;w</strong>
            utrzymania dziecka. Warto przedstawić:</p>
          <ul class="blog-text blog-ol">
            <li>rachunki i faktury za edukację (np. czesne, podręczniki, kursy językowe, korepetycje),</li>
            <li>koszty leczenia i rehabilitacji (np. wizyty u lekarzy, leki, terapia),</li>
            <li>wydatki na rozw&oacute;j zainteresowań dziecka (np. zajęcia sportowe, artystyczne),</li>
            <li>czynsz, opłaty za media, koszty wyżywienia i inne podstawowe potrzeby.</li>
          </ul>
          <p class="blog-text">2. Złożenie pozwu o podwyższenie aliment&oacute;w &ndash; pozew powinien opisywać:</p>
          <ul class="blog-text blog-ol">
            <li>aktualną sytuację finansową dziecka i rodzica, kt&oacute;ry się nim opiekuje,</li>
            <li>ponoszone wydatki wraz z przedstawieniem dowod&oacute;w,</li>
            <li>informacje o możliwościach zarobkowych drugiego rodzica.</li>
          </ul>
          <p class="blog-text">3. Rozprawa sądowa &ndash; sąd oceni, czy nastąpiła zmiana okoliczności uzasadniająca podwyższenie
            aliment&oacute;w. Obie strony mają możliwość przedstawienia swoich argument&oacute;w. Jeśli sąd uzna żądanie
            za zasadne, określi nową wysokość aliment&oacute;w.</p>
          <h3>Czy można podwyższyć alimenty bez sądu?</h3>
          <p class="blog-text">Tak, jeśli oboje rodzice są zgodni co do zmiany wysokości aliment&oacute;w, mogą zawrzeć <strong>ugodę
              przed mediatorem</strong>. W&oacute;wczas nie ma konieczności kierowania sprawy do sądu.</p>
          <h3>Czy podwyższenie aliment&oacute;w działa wstecz?</h3>
          <p class="blog-text">Co do zasady, podwyższenie aliment&oacute;w obowiązuje od dnia wniesienia pozwu, ale w wyjątkowych
            sytuacjach sąd może zasądzić wyr&oacute;wnanie za wcześniejsze miesiące, jeśli wykażesz, że potrzeby dziecka
            wzrosły wcześniej.</p>
          <h3>Czy potrzebujesz pomocy?</h3>
          <p class="blog-text">Procedura podwyższenia aliment&oacute;w może być skomplikowana, dlatego warto skorzystać z
            pomocy prawnika. Nasza kancelaria pomoże Ci skutecznie dochodzić należnych świadczeń dla Twojego dziecka!</p>
          <p class="blog-text">Skontaktuj się z nami &ndash; zapewniamy kompleksowe wsparcie prawne na każdym etapie postępowania.
            W naszej kancelarii działa r&oacute;wnież <strong>doświadczony mediator</strong>, kt&oacute;ry może pom&oacute;c
            w polubownym rozwiązaniu sprawy, bez konieczności kierowania jej do sądu.</p>
          <p>Zadbaj o przyszłość swojego dziecka &ndash; um&oacute;w się na konsultację już dziś!</p>

          <center>
            <a class="smoothscroll" href="/#contact" title="">Skontaktuj się</a>
          </center>
          <span>
            <span class="blog-data">opublikowano: 22.03.2025 r.</span>
          </span>
          <br>
        </div>

      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>