<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "CZY PRACODAWCA MOŻE ŻĄDAĆ ZWROTU KOSZTÓW SZKOLEŃ PRACOWNIKA? - Prawo pracy" }); -%>
  <head>
      <link rel="canonical" href="https://gierusradca.pl/blog/pracodawca-zada-zwrotu-kosztow" />
    </head>
  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">CZY PRACODAWCA MOŻE ŻĄDAĆ ZWROTU KOSZTÓW SZKOLEŃ PRACOWNIKA?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO PRACY</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/pracodawca-zada-zwrot-kosztow.jpg"
              alt="zwrot kosztow pracodawcy">
          </div>


          <p class="blog-text">
            Jedną z&nbsp;podstawowych zasad prawa pracy, która wyrażona została w&nbsp;art. 17 k.p. jest zasada wobec
            której
            pracodawca obowiązany jest ułatwiać pracownikom podnoszenie kwalifikacji zawodowych. Kodeks pracy jednak nie
            narzuca na pracodawcę obowiązku ponoszenia kosztów szkoleń pracownika.
          </p>

          <p class="blog-text">

            Możliwa jest jednak sytuacja, w&nbsp;której strony stosunku pracy decydują się na zawarcie umowy
            o&nbsp;podnoszenie kwalifikacji zawodowych. Powyższe wynika z&nbsp;brzmienia przepisów art. 103<sup>1</sup>
            - 103<sup>5</sup> k.p. Przez
            podnoszenie kwalifikacji zawodowych kodeks pracy rozumie <span
              style="font-family: 'montserrat-bold'; color: #000;">zdobywanie lub uzupełnianie wiedzy
              i&nbsp;umiejętności
              przez pracownika, z&nbsp;inicjatywy pracodawcy albo za jego zgodą. </span>Pracownik, który podnosi swoje
            kwalifikacje
            zawodowe posiada uprawnienie do:
          <ol class="blog-ol">
            <li>
              urlopu szkoleniowego,
            </li>
            <li>
              zwolnienia z&nbsp;całości lub części dnia pracy, na czas niezbędny, by punktualnie przybyć na obowiązkowe
              zajęcia oraz na czas ich trwania.
            </li>
          </ol>
          </p>
          <p class="blog-text">

            Ponadto za czas urlopu szkoleniowego oraz za czas zwolnienia z&nbsp;całości lub części dnia pracy pracownik
            zachowuje prawo do wynagrodzenia.
          </p>

          <p class="blog-text">

          <h2 style="color: #000;">
            Umowa szkoleniowa
          </h2>
          </p>
          <p class="blog-text">
            Pracodawca może zdecydować się na zawarcie z&nbsp;pracownikiem podnoszącym kwalifikacje zawodowe umowy
            szkoleniowej, określającej wzajemne prawa i&nbsp;obowiązki stron. Umowa o&nbsp;podnoszeniu kwalifikacji
            zawodowych
            stanowi <span style="font-family: 'montserrat-bold'; color: #000;">umowę prawa pracy, związaną z&nbsp;umową
              o
              pracę, lecz od niej odrębną.</span> Umowa szkoleniowa zawierana jest
            przede wszystkim w&nbsp;celu zobowiązania pracownika do pozostawania w&nbsp;zatrudnieniu u pracodawcy przez
            określony
            czas po ukończeniu podnoszenia kwalifikacji zawodowych. Umowa taka powinna zostać każdorazowo zawarta w
            formie pisemnej i&nbsp;nie może zawierać postanowień, które dla pracownika byłyby mniej korzystne niż
            przepisy
            prawa pracy.
          </p>
          <h2 style="color: #000;">
            Obowiązek zwrotu kosztów poniesionych przez pracodawcę </h2>
          </p>
          <p class="blog-text">
            Zgodnie z&nbsp;treścią art. 103<sup>5</sup> k.p. pracodawca może żądać od pracownika zwrotu kosztów szkoleń,
            w&nbsp;określonych sytuacjach na które wskazuje ww. przepis.
            Pracownik podnoszący kwalifikacje zawodowe:
          <ol class="blog-ol" style="margin-bottom: -10px;">
            <li>który bez uzasadnionych przyczyn nie podejmie podnoszenia kwalifikacji zawodowych albo przerwie
              podnoszenie
              tych kwalifikacji,
            </li>
            <li>z którym pracodawca rozwiąże stosunek pracy bez wypowiedzenia z&nbsp;jego winy, w&nbsp;trakcie
              podnoszenia
              kwalifikacji
              zawodowych lub po jego ukończeniu, w&nbsp;terminie określonym
              w&nbsp;umowie, o&nbsp;której mowa w&nbsp;art. 103<sup>4</sup>, nie dłuższym niż 3 lata,
            </li>
            <li>który w&nbsp;okresie wskazanym w&nbsp;pkt 2 rozwiąże stosunek pracy za wypowiedzeniem,
              z&nbsp;wyjątkiem wypowiedzenia umowy o&nbsp;pracę z&nbsp;przyczyn określonych w&nbsp;art. 94<sup>3</sup>,
            </li>
            <li>który w&nbsp;okresie wskazanym w&nbsp;pkt 2 rozwiąże stosunek pracy bez wypowiedzenia na podstawie art.
              55 lub art.
              94<sup>3</sup>, mimo braku przyczyn określonych w&nbsp;tych przepisach
            </li>
          </ol>
          <span style="font-family: 'montserrat-bold'; color: #000;"> - jest obowiązany do zwrotu kosztów poniesionych
            przez
            pracodawcę na ten cel z&nbsp;tytułu dodatkowych świadczeń, w&nbsp;wysokości proporcjonalnej do okresu
            zatrudnienia po
            ukończeniu podnoszenia kwalifikacji zawodowych lub okresu zatrudnienia w&nbsp;czasie ich podnoszenia.</span>
          </p>
          <p class="blog-text">

            Ponadto zobowiązanie pracownika do pozostawania w&nbsp;zatrudnieniu po ukończeniu podnoszenia kwalifikacji
            zawodowych nie może dotyczyć okresu dłuższego niż 3 lata. Tym samym postanowienie umowne nakładające na
            pracownika obowiązek pozostawania w&nbsp;zatrudnieniu u pracodawcy przez okres dłuższy niż 3 lata należy
            uznać za mniej korzystne niż przepisy prawa pracy tym samym za nieważne.
          </p>
          <span class="blog-zrodla">
            Źródła:
            <ol>
              <li>
                Kodeks pracy;
              </li>
              <li>
                E. Maniewska [w:] K. Jaśkowski, E. Maniewska, Komentarz aktualizowany do Kodeksu pracy, LEX/el. 2022,
                art. 103(1), art. 103(2), art. 103(3), art. 103(4), art. 103(5), art. 103(6).
              </li>
            </ol>
            <span class="blog-data">opublikowano: 10.05.2022 r.</span>

          </span>

          <br>

        </div>

      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
        <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>
