<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', { title: "Sprzeczność rozwodu z dobrem małoletnich dzieci małżonków, czyli kiedy Sąd nie orzeknie rozwodu - Prawo rodzinne" }); -%>
<head>
    <link rel="canonical" href="https://gierusradca.pl/blog/sprzecznosc-rozwodu-z-dobrem-dzieci" />
  </head>
<body id="top">

  <%- include('../../views/components/headerBlog.ejs'); -%>

  <section id="blog-page">
    <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
    <div class="blog-section">
      <br>
      <h1 style="color: #000;">Sprzeczność rozwodu z dobrem małoletnich dzieci małżonków, czyli kiedy Sąd nie orzeknie
        rozwodu</h1>
      <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>

      <div style="text-align: center; margin: 20px; "> <img src="../images/sprzecznosc-rozwodu-z-dobrem-dzieci.jpg"
          alt="sprzecznosc rozwodu z dobrem dzieci">
      </div>


      <p class="blog-text">
        We wcześniejszym artykule przedstawione zostało <a href="../blog/rozwod.html" style="text-decoration: underline;"> zagadnienie rozwodu.</a>
        Przypomnieć należy, że aby Sąd mógł orzec
        rozwód muszą zostać łącznie spełnione określone przesłanki takie jak: zupełny
        i&nbsp;trwały rozkład pożycia małżeńskiego. Występują jednak sytuacje, kiedy pomimo zaistnienia zupełnego i
        trwałego rozkładu pożycia małżeńskiego Sąd nie będzie mógł orzec rozwodu.

      </p>
      <p>

      <h3 style="color: #000;">Kiedy Sąd nie orzeknie rozwodu pomimo zupełnego i&nbsp;trwałego rozkładu pożycia
        małżeńskiego?
      </h3>
      </p>
      <p class="blog-text">
        W&nbsp;obowiązującym stanie prawnym wyróżnia się kilka negatywnych przesłanek rozwodowych. Sąd nie orzeknie
        rozwodu
        &nbsp;zupełnego rozkładu pożycia małżeńskiego,
        jeśli:
      <ol class="blog-text blog-ol">
        <li>
          wskutek rozwodu miałoby ucierpieć dobro wspólnych małoletnich dzieci, </li>
        <li>
          z innych względów rozwód byłby sprzeczny z zasadami współżycia społecznego,
        </li>
        <li>
          rozwodu żąda małżonek wyłącznie winny rozkładu pożycia a&nbsp;drugi z małżonków nie wyraża zgody na rozwód.
        </li>
      </ol>
      </p>
      <p class="blog-text">

        Zajmijmy się pierwszą z wyżej wymienionych negatywnych przesłanek rozwodowych. Ustawodawca przyjął zasadę w
        świetle której wnioskować należy, że nawet jeśli występuje trwały i&nbsp;zupełny rozkład pożycia małżeńskiego
        i&nbsp;nie
        istnieją żadne szanse na reaktywacje małżeństwa to rozwód nie zostanie orzeczony jeśli w&nbsp;skutek niego
        miałoby
        ucierpieć dobry wspólnych małoletnich dzieci małżonków. Pojęcie dobra dziecka nie zostało w&nbsp;Kodeksie
        rodzinnym i
        opiekuńczym zdefiniowane.
        W&nbsp;piśmiennictwie prawniczym dobro dziecka rozumie się najczęściej jako zespół wartości duchowych
        i&nbsp;materialnych
        niezbędnych do właściwego rozwoju fizycznego i&nbsp;duchowego dziecka, zarówno
        w&nbsp;wymiarze intelektualnym, jak i&nbsp;moralnym, oraz koniecznych do prawidłowego przygotowania do pracy dla
        dobra
        całego społeczeństwa.

      </p>
      <p class="blog-text">
        Jak podkreśla Sąd Apelacyjny w&nbsp;Rzeszowie w&nbsp;sprawie o&nbsp;sygn. akt I&nbsp;ACa 83/10 - przesłanka
        określona w&nbsp;art. 56 §
        2 k.r.o. ma na celu ochronę dziecka przed negatywnymi skutkami rozwodu rodziców, nie jest zaś w&nbsp;stanie go
        chronić przed skutkami rozkładu pożycia pomiędzy nimi. Dla stwierdzenia tej przesłanki konieczne jest zbadanie
        w&nbsp;postępowaniu sądowym wpływu rozkładu pożycia małżeńskiego na osobę dziecka, określenie warunków
        w&nbsp;jakich
        udzielenie rozwodu może wywołać bardziej ujemne skutki dla dziecka, aniżeli te które są wynikiem zupełnego i
        trwałego rozkładu pożycia między małżonkami - rodzicami dziecka. <span
          style="font-family: 'montserrat-bold'; color: #000;">Z zasady w&nbsp;interesie dziecka leży, aby
          wychowywało się w&nbsp;rodzinie, w&nbsp;której prawidłowo realizowane są funkcje ojca i&nbsp;matki w&nbsp;tym,
          aby nie było
          rozłączone z żadnym z rodziców, chodzi jednak o&nbsp;rodzinę faktycznie funkcjonującą, a&nbsp;nie tylko
          utrzymywaną
          formalnie przez prawo.</span>
      </p>
      <p class="blog-text">
        Mając na uwadze powyższe stwierdzić należy, że Sąd prowadząc sprawę rozwodową zobowiązany jest wydać takie
        orzeczenie, które w&nbsp;ocenie sędziego najlepiej zabezpieczy dobry wspólnych małoletnich dzieci małżonków.
        Omawiana negatywna przesłanka rozwodowa przestanie mieć zastosowanie, jeśli w&nbsp;toku postępowania rozwodowego
        dziecko małżonków ukończy 18 lat.
      </p>
      <span class="blog-zrodla">
        Źródła:
        <ol >
          <li>Kodeks rodzinny i&nbsp;opiekuńczy;</li>
          <li>
            B. Wartenberg-Kempka [w:] Kodeks rodzinny i&nbsp;opiekuńczy. Komentarz, red. M. Fras, M. Habdas, Warszawa
            2021, art. 56;
          </li>
          <li>
            Wyrok SA w&nbsp;Rzeszowie z 8.04.2010 r., I&nbsp;ACa 83/10.
          </li>
        </ol>
      </span>

      <span class="blog-data">opublikowano: 12.05.2022 r.</span>

      <br>

    </div>

  </section>

  <%- include('../../views/components/blogList.ejs'); -%>

  <%- include('../../views/components/contact.ejs'); -%>
  <%- include('../../views/components/dependency.ejs'); -%>

</body>

</html>
