<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć - Prawo spadkowe" }); -%>
  <head>
      <link rel="canonical" href="https://gierusradca.pl/blog/stwierdzenie-nabycia-spadku" />
    </head>
  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO SPADKOWE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/zgon.jpg" alt="Nabycie spadku">
          </div>
          <p class="blog-text">
            Spadkobierca nabywa spadek z&nbsp;chwilą otwarcia spadku. <strong class="txt-bold">Postanowienie o&nbsp;stwierdzeniu
              nabycia spadku
            </strong> potwierdzaja istnienie prawa do spadku, które spadkobierca nabywa już w&nbsp;chwili śmierci spadkodawcy.

          </p>

          <p class="blog-text">
            Zgodnie z&nbsp;treścią art. 1025 k.c. Sąd <strong class="txt-bold">na wniosek osoby mającej w&nbsp;tym interes</strong>
            stwierdza nabycie spadku przez spadkobiercę. Można zatem przyjąć, że z&nbsp;żądaniem może wystąpić każda osoba, która ma
            interes – prawny, moralny, społeczny, majątkowy lub niemajątkowy – w&nbsp;stwierdzeniu nabycia spadku po danym
            spadkodawcy.

          </p>
          <p class="blog-text">
            Przepis ten przewiduje także domniemanie, że <strong class="txt-bold">osoba która uzyskała stwierdzenie nabycia
              spadku, jest spadkobiercą.
            </strong> </p>
          <h3>TERMIN NA ZŁOŻENIE WNIOSKU O&nbsp;STWIERDZENIE NABYCIA SPADKU
          </h3>

          <p class="blog-text">
            Zgodni z&nbsp;treścią art. 1026 k.c. stwierdzenie nabycia spadku przez Sąd <strong class="txt-bold">nie może
              nastąpić przed upływem sześciu miesięcy od otwarcia spadku (tj. śmierci spadkodawcy),</strong> chyba że wszyscy
            znani spadkobiercy złożyli już oświadczenia o&nbsp;przyjęciu lub o&nbsp;odrzuceniu spadku.
          </p>
          <p class="blog-text">
            Jednocześnie Kodeks cywilny <strong class="txt-bold">nie precyzuje terminu końcowego,</strong> po którego upływie
            nie można wystąpić z&nbsp;żądaniem stwierdzenia nabycia spadku. Oznacza to, że wniosek o&nbsp;stwierdzenie nabycia
            spadku może zostać złożony w&nbsp;dowolnym czasie.
          </p>

          <h3>
            CO POWINNO ZNALEŹĆ SIĘ WE WNIOSKU O&nbsp;STWIERDZENIE NABYCIA SPADKU

          </h3>
          <p class="blog-text">
            Wnioskodawca powinien przedstawić dowód śmierci spadkodawcy (np. w&nbsp;postaci odpisu aktu zgonu). Wymienienie we wniosku
            znanych wnioskodawcy spadkobierców nie jest wiążące, gdyż sąd stwierdza nabycie spadku przez spadkobierców, choćby
            były nimi inne osoby niż te, które wskazali uczestnicy postępowania. Przy dziedziczeniu ustawowym dowodem posiadania
            uprawnienia do dziedziczenia są właściwe <strong class="txt-bold">akty stanu cywilnego.</strong>
          </p>
          <p class="blog-text">

            Dowodem uprawnień spadkobierców testamentowych jest <strong class="txt-bold">testament.</strong> W&nbsp;postanowieniu
            o&nbsp;stwierdzeniu nabycia spadku sąd wymienia spadkobierców, którym spadek przypadł, jak również wysokość ich
            udziałów.
          </p>
          </p>
          <h3>
            CO BADA SĄD W&nbsp;POSTĘPOWANIU O&nbsp;STWIERDZENIE NABYCIA SPADKU
          </h3>
          <p class="blog-text">
            Zgodnie z&nbsp;art. 670 § 1 k.p.c. <strong class="txt-bold">sąd spadku bada z&nbsp;urzędu,</strong> kto jest
            spadkobiercą. W&nbsp;tym przypadku obowiązek działania z&nbsp;urzędu oznacza, że sąd spadku nie może poprzestać
            na tym, co zostanie mu zaoferowane przez uczestników postępowania, ale powinien dokonać oceny, czy stwarza to
            wystarczającą podstawę do prawidłowego stwierdzenia, kto nabył spadek. Jednocześnie, aby zadośćuczynić obowiązkowi
            wynikającemu z&nbsp;art. 677 k.p.c., sąd spadku powinien <strong class="txt-bold">ustalić pełny krąg spadkobierców
              ustawowych, ewentualne istnienie testamentu i&nbsp;jego ważność,</strong> sprawdzić czy nie zachodzą negatywne
            przesłanki dziedziczenia, ustalić czy w&nbsp;skład spadku wchodzi gospodarstwo rolne i&nbsp;komu przypadło w&nbsp;drodze
            dziedziczenia. W&nbsp;tym kontekście, po stronie sądu spadku istnieje także obowiązek, aby ustalić na podstawie
            dostępnych instrumentów,
            <strong class="txt-bold">czy wcześniej w&nbsp;sprawie nie toczyło się już jakiekolwiek postępowanie spadkowe.</strong>

          </p>

          <p class="blog-text">
            Podsumowując, w&nbsp;postępowaniu o&nbsp;stwierdzenie nabycia spadku Sąd spadku <strong class="txt-bold">bada
              z&nbsp;urzędu, kto jest spadkobiercą.</strong> Sąd działa aktywnie niezależnie od twierdzeń, wniosków i&nbsp;argumentów
            zainteresowanych. W&nbsp;szczególności bada, czy spadkodawca pozostawił testament, oraz wzywa do złożenia testamentu
            osobę, co do której będzie uprawdopodobnione, że testament u niej się znajduje. Jeżeli testament zostanie złożony,
            sąd dokona jego otwarcia i&nbsp;ogłoszenia.
          </p>

          <p class="blog-text">
            Postanowienie o&nbsp;stwierdzeniu nabycia spadku stanowią dowód tego, że dana osoba jest spadkobiercą.

          </p>

          <span class="blog-zrodla">
            Źródła:
            <ol>
              <li>Postanowienie SN z&nbsp;11.05.2022 r., I&nbsp;NSNc 713/21,
              </li>
              <li>
                Postanowienie SN z&nbsp;29.11.2017 r., II CSK 88/17,
              </li>
              <li>
                Postanowienie SN z&nbsp;29.12.2020 r., I&nbsp;CSK 47/19,
              </li>
              <li>J. Ciszewski, J. Knabe [w:] Kodeks cywilny. Komentarz aktualizowany, red. P. Nazaruk, LEX/el. 2023, art.
                1025.
              </li>
            </ol>
          </span>

          <span>
            <span class="blog-data">opublikowano: 08.03.2023 r.</span>

          </span>

          <br>

        </div>

      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>
