<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć - Prawo spadkowe" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/stwierdzenia-nabycia-spadku-przez-sd--co-warto-wiedzie---prawo-spadkowe" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć - Prawo spadkowe</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO SPADKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/zgon.jpg" alt="stwierdzenia-nabycia-spadku-przez-sd--co-warto-wiedzie---prawo-spadkowe">
          </div><div style="padding-bottom:3rem"><p> &lt;%- include('../../views/components/head.ejs', { title: "Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć - Prawo spadkowe" }); -%&gt; &lt;%- include('../../views/components/headerBlog.ejs'); -%&gt;</p><p><br></p><h1>Stwierdzenia nabycia spadku przez Sąd – co warto wiedzieć</h1><h4>PRAWO SPADKOWE</h4><p class="ql-align-center"><img src="../images/zgon.jpg" alt="Nabycie spadku"></p><p>Spadkobierca nabywa spadek z&nbsp;chwilą otwarcia spadku. <strong>Postanowienie o&nbsp;stwierdzeniu nabycia spadku </strong> potwierdzaja istnienie prawa do spadku, które spadkobierca nabywa&nbsp;już w&nbsp;chwili śmierci spadkodawcy.</p><p>Zgodnie z&nbsp;treścią art. 1025 k.c. Sąd <strong>na wniosek osoby mającej w&nbsp;tym interes</strong> stwierdza nabycie spadku przez spadkobiercę. Można zatem przyjąć, że z&nbsp;żądaniem może wystąpić każda osoba, która ma interes – prawny, moralny, społeczny, majątkowy lub niemajątkowy – w&nbsp;stwierdzeniu nabycia spadku po danym spadkodawcy.</p><p>Przepis ten przewiduje także domniemanie, że <strong>osoba która uzyskała stwierdzenie nabycia spadku, jest spadkobiercą. </strong></p><h3>Termin na złożenie wniosku o stwierdzenie nabycia spadku</h3><p>Zgodni z&nbsp;treścią art. 1026 k.c. stwierdzenie nabycia spadku przez Sąd <strong>nie może nastąpić przed upływem sześciu miesięcy od otwarcia spadku (tj. śmierci spadkodawcy),</strong> chyba że wszyscy znani spadkobiercy złożyli już oświadczenia o&nbsp;przyjęciu lub o&nbsp;odrzuceniu spadku.</p><p>Jednocześnie Kodeks cywilny <strong>nie precyzuje terminu końcowego,</strong> po którego upływie nie można wystąpić z&nbsp;żądaniem stwierdzenia nabycia spadku. Oznacza to, że wniosek o&nbsp;stwierdzenie nabycia spadku może zostać złożony w&nbsp;dowolnym czasie.</p><h3>Co powinno znaleźć się we wniosku o stwierdzenie nabycia spadku</h3><p>Wnioskodawca powinien przedstawić dowód śmierci spadkodawcy (np. w&nbsp;postaci odpisu aktu zgonu). Wymienienie we wniosku znanych wnioskodawcy spadkobierców nie jest wiążące, gdyż sąd stwierdza nabycie spadku przez spadkobierców, choćby były nimi inne osoby niż te, które wskazali uczestnicy postępowania. Przy dziedziczeniu ustawowym dowodem posiadania uprawnienia do dziedziczenia są właściwe <strong>akty stanu cywilnego.</strong></p><p>Dowodem uprawnień spadkobierców testamentowych jest <strong>testament.</strong> W&nbsp;postanowieniu o&nbsp;stwierdzeniu nabycia spadku sąd wymienia spadkobierców, którym spadek przypadł, jak również wysokość ich udziałów.</p><h3>Co bada sąd w postępowaniu o stwierdzenie nabycia spadku</h3><p>Zgodnie z&nbsp;art. 670 § 1 k.p.c. <strong>sąd spadku bada z&nbsp;urzędu,</strong> kto jest spadkobiercą. W&nbsp;tym przypadku obowiązek działania z&nbsp;urzędu oznacza, że sąd spadku nie może poprzestać na tym, co zostanie mu zaoferowane przez uczestników postępowania, ale powinien dokonać oceny, czy stwarza to wystarczającą podstawę do prawidłowego stwierdzenia, kto nabył spadek. Jednocześnie, aby zadośćuczynić obowiązkowi wynikającemu z&nbsp;art. 677 k.p.c., sąd spadku powinien <strong>ustalić pełny krąg spadkobierców ustawowych, ewentualne istnienie testamentu i&nbsp;jego ważność,</strong> sprawdzić czy nie zachodzą negatywne przesłanki dziedziczenia, ustalić czy w&nbsp;skład spadku wchodzi gospodarstwo rolne i&nbsp;komu przypadło w&nbsp;drodze dziedziczenia. W&nbsp;tym kontekście, po stronie sądu spadku istnieje także obowiązek, aby ustalić na podstawie dostępnych instrumentów, <strong>czy wcześniej w&nbsp;sprawie nie toczyło się już jakiekolwiek postępowanie spadkowe.</strong></p><p>Podsumowując, w&nbsp;postępowaniu o&nbsp;stwierdzenie nabycia spadku Sąd spadku <strong>bada z&nbsp;urzędu, kto jest spadkobiercą.</strong> Sąd działa aktywnie niezależnie od twierdzeń, wniosków i&nbsp;argumentów zainteresowanych. W&nbsp;szczególności bada, czy spadkodawca pozostawił testament, oraz wzywa do złożenia testamentu osobę, co do której będzie uprawdopodobnione, że testament u niej się znajduje. Jeżeli testament zostanie złożony, sąd dokona jego otwarcia i&nbsp;ogłoszenia.</p><p>Postanowienie o&nbsp;stwierdzeniu nabycia spadku stanowią dowód tego, że dana osoba jest spadkobiercą.</p><p> Źródła:</p><ol><li>Postanowienie SN z&nbsp;11.05.2022 r., I&nbsp;NSNc 713/21,</li><li>Postanowienie SN z&nbsp;29.11.2017 r., II CSK 88/17,</li><li>Postanowienie SN z&nbsp;29.12.2020 r., I&nbsp;CSK 47/19,</li><li>J. Ciszewski, J. Knabe [w:]&nbsp;Kodeks cywilny. Komentarz aktualizowany, red. P. Nazaruk, LEX/el. 2023, art. 1025.</li></ol><p> opublikowano: 08.03.2023 r.</p><p> </p><p>&lt;%- include('../../views/components/blogList.ejs'); -%&gt; &lt;%- include('../../views/components/contact.ejs'); -%&gt;&lt;%- include('../../views/components/dependency.ejs'); -%&gt;</p>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>