<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Służebność w księdze wieczystej – co to oznacza?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/suebno-w-ksidze-wieczystej--co-to-oznacza" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Służebność w księdze wieczystej – co to oznacza?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/sluzebnosc-w-kw.jpg" alt="suebno-w-ksidze-wieczystej--co-to-oznacza">
          </div><div style="padding-bottom:3rem"><p>Wpis służebności w księdze wieczystej często budzi niepokój wśród właścicieli nieruchomości oraz osób planujących jej zakup. <strong>Czym jest służebność? Jakie skutki prawne niesie za sobą taki wpis?</strong> Ten artykuł pomoże Ci zrozumieć, czym są służebności, jakie mają rodzaje i jak je interpretować w treści księgi wieczystej.</p><h2>Czym jest służebność?</h2><p>Służebność to <strong>ograniczone prawo rzeczowe</strong>, które umożliwia jednej osobie korzystanie z cudzej nieruchomości w określonym zakresie. Przysługuje ono osobie fizycznej lub prawnej (np. firmie energetycznej), bądź właścicielowi innej nieruchomości. Służebność może być ustanowiona dobrowolnie (np. w drodze umowy) albo na mocy orzeczenia sądu.</p><p>Wpis o służebności znajduje się w księgi wieczystej</p><h2>Rodzaje służebności</h2><p><strong>1. Służebność gruntowa</strong></p><p>To najczęstszy rodzaj służebności. Ma na celu zwiększenie użyteczności jednej nieruchomości kosztem drugiej (obciążone). W praktyce służebność gruntowa najczęściej dotyczy <strong>dojazdu do nieruchomości</strong>, która nie ma dostępu do drogi publicznej.</p><p><em>Przykład: Pan Marek kupił działkę rekreacyjną. Jedyny możliwy dojazd do niej prowadzi przez działkę sąsiada. W księdze wieczystej tej działki widnieje wpis: "Służebność przejazdu i przechodu na rzecz działki nr 121/3". Oznacza to, że pan Marek może legalnie korzystać z tego przejazdu.</em></p><p><strong>2. Służebność osobista</strong></p><p>To służebność ustanowiona <strong>na rzecz konkretnej osoby fizycznej</strong>, a nie innej nieruchomości. Wygasa najpóźniej z chwilą jej śmierci. Najczęściej dotyczy <strong>dożywotniego prawa do mieszkania</strong> w nieruchomości.</p><p><em>Przykład: Pani Zofia przepisała mieszkanie wnuczce, zastrzegając sobie prawo do życia w nim do końca życia. W księdze wieczystej pojawia się wpis: "Służebność osobista mieszkania na rzecz Zofii Kowalskiej". Taka służebność chroni panią Zofię nawet w razie sprzedaży mieszkania.</em></p><p><strong>3. Służebność przesyłu</strong></p><p>To szczególny rodzaj służebności, ustanawiany <strong>na rzecz przedsiębiorstw przesyłowych</strong> (np. dostawców prądu, gazu, wody, telekomunikacji). Umożliwia korzystanie z nieruchomości w zakresie eksploatacji, konserwacji i modernizacji sieci przesyłowej.</p><p><em>Przykład: Na działce pana Tomasza znajduje się słup energetyczny. W księdze wieczystej widnieje wpis: "Służebność przesyłu na rzecz Energa Operator S.A. w zakresie dostępu do linii nN". Oznacza to, że firma ma prawo wejścia na teren działki celem prac technicznych.</em></p><h2>Jak sprawdzić wpis w księdze wieczystej?</h2><p>Aby poznać <strong>zakres służebności</strong>, należy:</p><p><strong>1. Zapoznać się z wpisem w kw</strong></p><p>Możesz to zwrobić bezpłatnie wchodząc na stronę <a href="https://ekw.ms.gov.pl/eukw_ogol/menu.do" class="smoothscroll">https://ekw.ms.gov.pl/</a></p><p><strong>2. Sprawdzić podstawę wpisu</strong></p><p>W księdze wieczystej znajduje się tzw. "podstawa wpisu" – np. numer aktu notarialnego lub orzeczenia sądu.</p><p><strong>3. Skonsultować się z prawnikiem</strong></p><p>Konsultacja jest szczególnie istotna jeśli chcesz skonsultować się co do wpisu w księdze wieczystej a także jeśli planujesz zakup nieruchomości z wpisaną służebnością.</p><h2>Czy służebność można znieść?</h2><p>Tak, ale tylko w określonych przypadkach:</p><ul><li><strong>za zgodą stron</strong> (np. poprzez podpisanie aktu notarialnego o wygaśnięciu służebności),</li><li><strong>na drodze sądowej</strong> – jeśli służebność stała się bezzasadna (np. powstała inna droga dojazdowa),</li><li><strong>gdy nastąpi jej wygaśnięcie z mocy prawa</strong> (np. śmierć uprawnionego przy służebności osobistej).</li></ul><h2>Podsumowanie</h2><p>Wpis o służebności w księdze wieczystej nie musi oznaczać problemu, ale zawsze warto rozumieć jego znaczenie. W zależności od rodzaju służebności i zakresu uprawnień może ona mieć realny wpływ na wartość i użytkowanie nieruchomości.</p><p>Jeśli masz wątpliwości co do wpisu w księdze wieczystej – skonsultuj się z prawnikiem. Analiza księgi wieczystej nieruchomości przed zakupem nieruchomości to podstawa i może uchronić Cię przed poważnymi konsekwencjami.</p><p><a href="/#contact" class="smoothscroll">Skontaktuj się z kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>