<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Ubezwłasnowolnienie – czym jest, kiedy się je stosuje i jak wygląda postępowanie?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/ubezwasnowolnienie--czym-jest-kiedy-si-je-stosuje-i-jak-wyglda-postpowanie" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Ubezwłasnowolnienie – czym jest, kiedy się je stosuje i jak wygląda postępowanie?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/ubezwlasnowolnienie.jpg" alt="ubezwasnowolnienie--czym-jest-kiedy-si-je-stosuje-i-jak-wyglda-postpowanie">
          </div><div style="padding-bottom:3rem"><p>Ubezwłasnowolnienie to instytucja prawa cywilnego, która budzi wiele emocji. Choć wielu osobom kojarzy się negatywnie, jej celem nie jest „odebranie wolności”, lecz <strong>ochrona osoby, która nie jest w stanie samodzielnie kierować swoim postępowaniem z powodu choroby psychicznej, niedorozwoju umysłowego lub innego rodzaju zaburzeń psychicznych</strong>.</p><p><strong>W tym artykule wyjaśniam:</strong></p><ul><li>kiedy można złożyć wniosek o ubezwłasnowolnienie,</li><li>czym różni się ubezwłasnowolnienie całkowite od częściowego,</li><li>jak wygląda procedura,</li><li>kto może złożyć taki wniosek.</li></ul><h2>Czym jest ubezwłasnowolnienie?</h2><p>Zgodnie z art. 13 Kodeksu cywilnego: osoba, która ukończyła lat trzynaście, może być ubezwłasnowolniona całkowicie, jeżeli wskutek <strong>choroby psychicznej, niedorozwoju umysłowego albo innego rodzaju zaburzeń psychicznych</strong>, w szczególności <strong>pijaństwa lub narkomanii</strong>, nie jest w stanie kierować swym postępowaniem. Zgodnie z art. 16 Kodeksu cywilnego natomiast - osoba pełnoletnia może być ubezwłasnowolniona częściowo z powodu choroby psychicznej, niedorozwoju umysłowego albo innego rodzaju zaburzeń psychicznych, w szczególności <strong>pijaństwa lub narkomanii</strong>, jeżeli stan tej osoby nie uzasadnia ubezwłasnowolnienia całkowitego, lecz potrzebna jest pomoc do prowadzenia jej spraw.</p><p>Ubezwłasnowolnienie może być:</p><ul><li><strong>całkowite</strong> – osoba traci zdolność do czynności prawnych,</li><li><strong>częściowe</strong> – osoba zachowuje ograniczoną zdolność do czynności prawnych.</li></ul><h2>Kiedy można złożyć wniosek o ubezwłasnowolnienie?</h2><p>Ubezwłasnowolnienie powinno być stosowane <strong>tylko wtedy, gdy inna forma wsparcia nie jest wystarczająca</strong>, a dana osoba swoim działaniem realnie zagraża sobie lub innym – np. podpisuje niekorzystne umowy, rozdaje majątek, zaniedbuje leczenie lub nie rozumie skutków swoich decyzji.</p><p>Przykładowe sytuacje:</p><ul><li>osoba starsza z otępieniem lub chorobą Alzheimera, która daje się oszukiwać,</li><li>osoba uzależniona, która wyzbywa się majątku, by zdobyć środki na używki,</li><li>osoba z chorobą psychiczną (np. schizofrenią), która odmawia leczenia, niszczy rzeczy, traci kontakt z rzeczywistością.</li></ul><h2>Jak złożyć wniosek o ubezwłasnowolnienie?</h2><p><strong>1. Gdzie złożyć wniosek?</strong></p><p>Do sądu okręgowego właściwego dla miejsca zamieszkania osoby, której wniosek dotyczy.</p><p><strong>2. Kto może złożyć wniosek?</strong></p><p>Zgodnie z art. 544 Kodeksu postępowania cywilnego:</p><ul><li>małżonek tej osoby,</li><li>jej krewni w linii prostej (np. rodzice, dzieci),</li><li>rodzeństwo,</li><li>przedstawiciel ustawowy.</li></ul><p><strong>3. Co dołączyć do wniosku?</strong></p><ul><li>odpis aktu urodzenia/małżeństwa (do potwierdzenia pokrewieństwa),</li><li>zaświadczenia lekarskie, opinie psychologa lub psychiatry,</li><li>dokumentację medyczną,</li><li>dowody potwierdzające zachowanie osoby (zeznania, nagrania, dokumenty).</li></ul><h2>Jak wygląda postępowanie?</h2><ul><li>Po wpłynięciu wniosku sąd wszczyna postępowanie i może <strong>powołać biegłego psychiatrę lub psychologa</strong>, który bada osobę i wydaje opinię.</li><li>W trakcie rozprawy sąd przesłuchuje rodzinę, świadków, analizuje opinie medyczne.</li><li>Osobę, której dotyczy wniosek o ubezwłasnowolnienie, należy wysłuchać niezwłocznie po wszczęciu postępowania; wysłuchanie powinno odbyć się w obecności biegłego psychologa oraz - w zależności od stanu zdrowia osoby, która ma być wysłuchana - biegłego lekarza psychiatry lub neurologa.</li><li>Orzeka o ubezwłasnowolnieniu całkowitym, częściowym albo oddala wniosek.</li></ul><p><strong>Ważne: </strong>Sąd <strong>nie może orzec ubezwłasnowolnienia tylko dlatego, że ktoś żyje inaczej niż oczekuje rodzina</strong> – np. rozdaje pieniądze, zaniedbuje mieszkanie, nie pracuje. Musi istnieć związek przyczynowy z chorobą psychiczną, uzależnieniem lub upośledzeniem. Kto zgłosi wniosek o ubezwłasnowolnienie w złej wierze lub lekkomyślnie, podlega karze grzywny.</p><h2>Co dalej po ubezwłasnowolnieniu?</h2><ul><li><strong>W przypadku ubezwłasnowolnienia całkowitego</strong> – ustanawia się opiekę, chyba że osoba, której wniosek dotyczy pozostaje jeszcze pod władzą rodzicielską.</li><li><strong>W przypadku ubezwłasnowolnienia częściowego</strong> – ustanawia się <strong>kuratelę.</strong></li></ul><h2>Podsumowanie</h2><p>Ubezwłasnowolnienie to poważna decyzja - rozwiązanie to zawsze powinno być traktowane jako <strong>środek ostateczny</strong>, kiedy inne formy pomocy zawiodły. <strong>Warto zasięgnąć porady prawnika lub mediatora.</strong></p><p><a href="#contact" class="smoothscroll">Jeśli potrzebujesz pomocy przy prawnej, mediacji lub chcesz się dowiedzieć, czy to rozwiązanie odpowiednie w Twojej sytuacji – skontaktuj się z kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>