<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Uznanie w&nbsp;Polsce wyroku rozwodowego wydanego przez Sąd zagraniczny - Prawo rodzinne" }); -%>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Uznanie w&nbsp;Polsce wyroku rozwodowego wydanego przez Sąd zagraniczny</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h2>
            <div style="text-align: center; margin: 20px; "> <img src="../images/uznanie-zagranicznego-rozwodu.jpg"
                alt="rozwod">
            </div>

            <p class="blog-text">
              Zdarzają się sytuacje, kiedy małżeństwo zostaje rozwiązane poprzez rozwód przez Sąd zagraniczny. Powyższe
              ma miejsce w&nbsp;szczególności wówczas, kiedy małżonkowie zamieszkują na terytorium innego państwa niż
              Polska. Wyrok rozwodowy zapadły za granicą Polski musi znaleźć odzwierciedlenie także w&nbsp;akcie małżeństwa w&nbsp;Polsce. Powstaje więc pytanie –
              <strong class="txt-bold"> jakie czynności należy podjąć, aby wyrok
                rozwodowy wydany przez Sąd zagraniczny został uznany także w&nbsp;Polsce? </strong>
            </p>
            <p>

            <h3 style="color: #000;">Wyroki rozwodowe wydane przez Sądy państw członkowskich Unii Europejskiej
            </h3>
            </p>
            <p class="blog-text">
              W&nbsp;pierwszej kolejności wskazać wyraźnie należy, że wyroki rozwodowe wydane przez Sądy państw członkowskich
              Unii Europejskiej <strong class="txt-bold">od dnia 1 maja 2004 r.</strong>, uznawane są w&nbsp;Polsce
              automatycznie i&nbsp;wystarczającym jest
              przeprowadzenie procedury rejestracji rozwodu
              w&nbsp;Urzędzie Stanu Cywilnego.
            </p>

            <h3 style="color: #000;">Wyroki rozwodowe wydane przez Sądy państw nienależących do Unii Europejskiej
            </h3>
            </p>
            <p class="blog-text">
              Wyroki rozwodowe wydane przez Sądy państw nienależących do Unii Europejskiej, które wydaje zostały <strong
                class="txt-bold">po 1
                lipca 2009 r.</strong> są także automatycznie uznawane w&nbsp;Polsce i&nbsp;należy (tak samo jak w&nbsp;przypadku
              wyroku
              rozwodowego wydanego przez Sąd państwa członkowskiego Unii Europejskiej) przeprowadzić jedynie procedurę
              rejestracji w&nbsp;Urzędzie Stanu Cywilnego.
            </p>

            <h3 style="color: #000;">
              Jakie czynności należy podjąć, jeśli wyrok rozwodowy został wydany przed wyżej wymienionymi datami?</h3>

            <p class="blog-text">
              Wyroki rozwodowe wydane przez Sądy państw członkowskich Unii Europejskiej <strong class="txt-bold">przed 1
                maja 2004 r.</strong> lub przez
              Sądy pozostałych państw <strong class="txt-bold">przed 1 lipca 2009 r.</strong> mogą zostać uznane na
              terytorium Polski <strong class="txt-bold">tylko w&nbsp;wyniku
                przeprowadzenia postępowania w&nbsp;sądzie okręgowym,</strong> właściwym ze względu na obecne lub ostatnie
              miejsce
              zameldowania.
            </p>

            <h3 style="color: #000;">
              Czy kierownik urzędu stanu cywilnego może odmówić wpisania wzmianki dodatkowej o&nbsp;rozwodzie do polskiego
              aktu małżeństwa? </h3>

            <p class="blog-text">
              Art. 22 rozporządzenie Rady (WE) nr 2201/2003 z&nbsp;dnia 27 listopada 2003 r. dotyczące jurysdykcji oraz
              uznawania i&nbsp;wykonywania orzeczeń w&nbsp;sprawach małżeńskich oraz
              w&nbsp;sprawach dotyczących odpowiedzialności rodzicielskiej przewiduje cztery przypadki,
              w&nbsp;których możliwa jest odmowa uznania orzeczenia rozwodowego.

            </p>
            <p class="blog-text">
              Orzeczenia dotyczącego rozwodu, separacji lub unieważnienia małżeństwa nie uznaje się:
            <ol class="blog-text blog-ol">
              <li>
                jeżeli takie uznanie jest oczywiście sprzeczne z&nbsp;porządkiem publicznym państwa członkowskiego, w&nbsp;którym
                wystąpiono o&nbsp;uznanie; </li>
              <li>
                jeżeli zostało wydane zaocznie, jeśli stronie przeciwnej nie doręczono pisma wszczynającego postępowanie
                lub pisma równorzędnego w&nbsp;czasie i&nbsp;w sposób umożliwiający jej przygotowanie obrony, chyba że zostanie
                ustalone, że strona przeciwna jednoznacznie zgadza się z&nbsp;orzeczeniem;
              </li>
              <li>
                jeżeli orzeczenia nie da się pogodzić z&nbsp;orzeczeniem wydanym w&nbsp;postępowaniu między tymi samymi stronami w&nbsp;państwie członkowskim, w&nbsp;którym wystąpiono o&nbsp;uznanie;
              </li>
              <li>
                jeżeli orzeczenia nie da się pogodzić z&nbsp;wcześniejszym orzeczeniem wydanym w&nbsp;innym państwie członkowskim
                lub w&nbsp;państwie trzecim między tymi samymi stronami, o&nbsp;ile to wcześniejsze orzeczenie spełnia warunki
                niezbędne do jego uznania w&nbsp;państwie członkowskim, w&nbsp;którym wystąpiono o&nbsp;uznanie.
              </li>
            </ol>
            </p>
            <p class="blog-text">
              Pamiętaj, że jeśli rozwód nastąpił w&nbsp;innym kraju niż Polska, konieczne jest podjęcie odpowiednich
              czynności
              w&nbsp;szczególności, jeśli chcesz ponownie zawrzeć związek małżeński
              w&nbsp;Polsce.
            </p>


            <h3 style="color: #000;">
              Czy musisz przyjeżdżać do Polski, aby załatwić formalności? </h3>

            <p class="blog-text">
              Nie musisz przyjeżdżać do Polski – wystarczy, że udzielisz pełnomocnictwa Kancelarii.
            </p>
            <span class="blog-zrodla">
              Źródła:
              <ol>
                <li>Rozporządzenie Rady (WE) nr 2201/2003 z&nbsp;dnia 27 listopada 2003 r. dotyczące jurysdykcji oraz
                  uznawania i&nbsp;wykonywania orzeczeń w&nbsp;sprawach małżeńskich oraz w&nbsp;sprawach dotyczących odpowiedzialności
                  rodzicielskiej;</li>
                <li>
                  Kodeks postępowania cywilnego;
                </li>
                <li>
                  https://www.gov.pl/web/republikakorei/wyrok-rozwodowy-sad-zagraniczny.
                </li>
              </ol>
            </span>

            <span class="blog-data">opublikowano: 02.06.2022 r.</span>

            <br>

        </div>

      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>

          <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>