<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Wymeldowanie bez zgody osoby zameldowanej – kiedy jest możliwe?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/wymeldowanie-lokatora" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Wymeldowanie bez zgody osoby zameldowanej – kiedy jest możliwe? </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO ADMINISTRACYJNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/wymeldowanie-bez-zgody.jpg" alt="wymeldowanie">
          </div>
          <p class="blog-text">
            Zgodnie z&nbsp;treścią art. 35 ustawy z&nbsp;dnia 24 września 2010 r. o&nbsp;ewidencji ludności: organ gminy właściwy ze
            względu na położenie nieruchomości, wydaje <strong>z&nbsp;urzędu lub na wniosek właściciela lub podmiotu dysponującego
            tytułem prawnym do lokalu, decyzję w&nbsp;sprawie wymeldowania obywatela polskiego, który opuścił miejsce pobytu
            stałego albo opuścił miejsce pobytu czasowego przed upływem deklarowanego okresu pobytu i&nbsp;nie dopełnił obowiązku
            wymeldowania się.</strong>
          </p>
          <p class="blog-text">
            Jak wynika z&nbsp;powyższego, wniosek o&nbsp;wymeldowanie bez zgody osoby zameldowanej może złożyć <strong>właściciel lokalu</strong> albo
            inna osoba dysponująca <strong>tytułem prawnym</strong> do lokalu.</p>

          <p class="blog-text">
            Przed wydaniem decyzji, organ gminy obowiązany jest sprawdzić czy osoba, której wniosek dotyczy (która ma zostać wymeldowana
            bez swojej zgody i&nbsp;wiedzy) opuściła nieruchomość <strong>w sposób dobrowolny oraz na stałe.</strong> Pracownicy właściwego
            ze względu na położenie nieruchomości organu gminy sprawdzą także czy osoba wskazana we wniosku faktycznie nie
            zamieszkuje w&nbsp;miejscu swojego zameldowania. Istotne jest także <strong>określenie zamiaru osoby, której wniosek
            o&nbsp;wymeldowanie dotyczy.</strong> Należy zweryfikować czy okoliczności istniejące w&nbsp;sprawie potwierdzają wolę wewnętrzną
            osoby zainteresowanej, czy też pozostają z&nbsp;nią w&nbsp;sprzeczności. Do okoliczności takich należą między innymi:
            sposób opuszczenia lokalu, koncentracja interesów życiowych w&nbsp;danym miejscu (przebywanie w&nbsp;nim w&nbsp;sensie
            fizycznym, praca, nauka, prowadzenie życia towarzyskiego - przyjmowanie znajomych), posiadanie rzeczy w&nbsp;lokalu
            lub związanych z&nbsp;danym lokalem (np. kluczy, rzeczy osobistych) a&nbsp;także obiektywna możliwość realizacji
            woli przebywania w&nbsp;nim (wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 10.05.2023
            r., III SA/Kr 1092/22). O&nbsp;kwalifikacji pobytu oznaczonej osoby w&nbsp;konkretnym lokalu mieszkalnym decyduje
            bowiem nie tylko treść oświadczenia składanego przez stronę postępowania, ale <strong>całokształt okoliczności faktycznych
            sprawy wykazujących to, jaki jest rzeczywisty zamiar osoby podlegającej obowiązkowi meldunkowemu.</strong> Dla wystąpienia
            określonej wskazanych w&nbsp;art. 35 ustawy o&nbsp;ewidencji ludności przesłanki wymeldowania, którą jest "opuszczenie
            miejsca pobytu stałego" konieczne jest, aby fizycznemu przebywaniu osoby w&nbsp;innym miejscu towarzyszyła <strong>wola
            opuszczenia dotychczasowego miejsca pobytu oraz zamiar związania się z&nbsp;tym innym miejscem i&nbsp;urządzenia
            w&nbsp;nim trwałego centrum życiowego.</strong> Postępowanie w&nbsp;sprawie wymeldowania wymaga zatem ustalenia tego,
            czy nastąpiło <strong>faktyczne</strong> opuszczenie miejsca pobytu stałego i&nbsp;zbadania <strong>trwałości oraz dobrowolności</strong> zamiaru
            jego opuszczenia (wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 27.03.2023 r., III SA/Kr
            1199/22).

          </p>
          <p class="blog-text">
            W&nbsp;związku z&nbsp;tym, we wniosku o&nbsp;wymeldowanie należy wykazać przesłankę:
            <p class="blog-text">
              <ol class="blog-text blog-ol">
                <li>
                  dobrowolności oraz

                </li>
                <li>
                  trwałości.
                </li>
              </ol>
            </p>
          </p>
          <h3>Trwałe opuszczenie miejsca zameldowania
          </h3>
          <p class="blog-text">
            Dla zaistnienia przesłanki opuszczenia miejsca pobytu stałego konieczne jest, aby fizycznemu przebywaniu osoby w&nbsp;innym
            miejscu, niż miejsce pobytu stałego, towarzyszył <strong>zamiar stałego związania się z&nbsp;tym innym miejscem, urządzenia
            w&nbsp;nim swego trwałego centrum życiowego.</strong> O&nbsp;opuszczeniu miejsca stałego pobytu można mówić tylko wtedy,
            gdy dana osoba fizycznie nie przebywa w&nbsp;określonym lokalu i&nbsp;ma zamiar opuszczenia tego lokalu na stałe,
            a zamiar ten związany jest z&nbsp;założeniem w&nbsp;nowym miejscu ośrodka osobistych i&nbsp;majątkowych interesów.
            Rezygnacja z&nbsp;przebywania w&nbsp;określonym lokalu może nastąpić w&nbsp;sposób <strong>wyraźny</strong> – poprzez złożenie
            stosownego oświadczenia, ale także w&nbsp;sposób <strong>dorozumiany</strong> – poprzez zachowanie, które w&nbsp;sposób niebudzący
            wątpliwości wyraża wolę danej osoby skoncentrowania swojej aktywności życiowej w&nbsp;innym miejscu (wyrok Naczelnego
            Sądu Administracyjnego z&nbsp;dnia 14 maja 2010 r., II OSK 851/09).
          </p>

          <p class="blog-text">
            Pamiętać jednak należy, że sam fakt przejściowej nieobecności czy też występowanie nawet regularnych okresów fizycznej nieobecności
            w&nbsp;miejscu stałego zameldowania nie upoważniają jeszcze do automatycznego stwierdzenia, iż zameldowany opuścił
            miejsce pobytu (wyrok Sądu Apelacyjnego w&nbsp;Gdańsku z&nbsp;dnia 4.08.2011 r., III SA/Gd 127/11).

          </p>


          <p class="blog-text">
            Co jednak istotne, ocena czy opuszczenie lokalu ma charakter trwały, nie może być oparte na dosłownym rozumieniu trwałości
            jako stanu, który nie ulega zmianie i&nbsp;być pojmowane jako opuszczenie lokalu "na zawsze". Wystarczające jest,
            jeżeli okres ten jest <strong>dostatecznie długi</strong>, gdyż w&nbsp;przeciwnym razie nie byłoby możliwe wymeldowania osoby,
            która de facto w&nbsp;lokalu od lat nie przebywa albo przyjeżdża do niego jedynie okazjonalnie (wyrok Wojewódzkiego
            Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 16.06.2023 r., III SA/Kr 1874/22).

          </p>


          <p class="blog-text">
            Opuszczenie przez daną osobę miejsca stałego zameldowania z&nbsp;powodu takich okoliczności jak praca w&nbsp;innej miejscowości
            czy nawet w&nbsp;innym kraju <strong>nie może być zatem automatycznie uznane za zerwanie więzi z&nbsp;lokalem w&nbsp;którym
            osoba ta była zameldowana na pobyt stały</strong>, jeżeli nie zostanie wykazane, że jej centrum życiowe zostało zlokalizowane
            na stałe w&nbsp;innym miejscu. Wynika to z&nbsp;przyjęcia, że opuszczeniem miejsca pobytu stałego jest nie tylko
            fizyczne nie przebywanie w&nbsp;danym lokalu ale jednocześnie zerwanie z&nbsp;nim związków. W&nbsp;świetle orzecznictwa
            czasowość pobytu w&nbsp;innym miejscu (w innych miejscach) nie zrywa tej więzi. Także sam fakt pobytu za granicą
            nie jest równoznaczny z&nbsp;opuszczeniem dotychczasowego miejsca pobytu stałego uzasadniającym wymeldowanie
            jeżeli nie jest połączony z&nbsp;trwałą i dobrowolną rezygnacją z&nbsp;dotychczasowego miejsca pobytu (wyrok
            Wojewódzkiego Sądu Administracyjnego we Wrocławiu z&nbsp;dnia 11.05.2023 r., II SA/Wr 46/23).

          </p>
          <h3>Dobrowolne opuszczenie miejsca zameldowania
          </h3>
          <p class="blog-text">
            Przesłanka dobrowolności przejawia się tym, iż dana osoba <strong>z&nbsp;własnej woli rezygnuje z przybywania w&nbsp;nieruchomości,</strong>
            w&nbsp;której jest zameldowana. Konieczność dobrowolnego działania wyklucza więc działanie pod przymusem czy
            jakimkolwiek naciskiem osoby trzeciej.

          </p>
          <p class="blog-text">
            Zaznaczyć jednak należy, że na równi z&nbsp;dobrowolnością opuszczenia lokalu należy traktować te sytuacje, w&nbsp;których
            osoba podlegająca wymeldowaniu nie może zgodnie z&nbsp;prawem lub na skutek okoliczności faktycznych dalej zamieszkiwać
            w&nbsp;miejscu, w&nbsp;którym była zameldowana (np. nakaz eksmisji, odbywanie kary pozbawienia wolności, nakaz
            opuszczenia lokalu, zakaz zbliżania się do członków rodziny). Zatem w&nbsp;sytuacji, gdy opuszczenie lokalu było
            następstwem zawinionych działań osoby, której dotyczy postępowanie, bez znaczenia jest, czy było ono dobrowolne.
            W&nbsp;rezultacie opuszczenie miejsca stałego pobytu obejmuje także przypadek opuszczenia tego miejsca pod przymusem
            realizowanym przez upoważnione do tego organy państwa (wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Bydgoszczy
            z&nbsp;dnia 29.05.2023 r., II SA/Bd 244/23; wyrok Naczelnego Sądu Administracyjnego z&nbsp;dnia 16.05.2023 r.,
            II OSK 387/22).

          </p>
          <h3>Decyzja o&nbsp;wymeldowaniu
          </h3>
          <p class="blog-text">
            Decyzja o&nbsp;wymeldowaniu ma charakter związany i&nbsp;zapada po zaistnieniu następujących przesłanek: opuszczenia miejsca
            pobytu stałego oraz niedopełnienia obowiązku wymeldowania się. <strong>Postępowanie o&nbsp;wymeldowanie kończy się wydaniem
            decyzji przez właściwy organ gminy.</strong> Jeżeli strona postępowania nie zgadza się z&nbsp;wydaną decyzją, ma prawo
            skorzystania ze środków odwoławczych.

          </p>


          <span class="blog-zrodla">
            Źródła:
            <ol>
              <li>
                Kodeks pracy,
              </li>
              <li>
                ustawa z&nbsp;dnia 24 września 2010 r. o&nbsp;ewidencji ludności,
              </li>
              <li>
                wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 10.05.2023 r., III SA/Kr 1092/22,
              </li>
              <li>
                wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 27.03.2023 r., III SA/Kr 1199/22,
              </li>
              <li>
                wyrok Naczelnego Sądu Administracyjnego z&nbsp;dnia 14 maja 2010 r., II OSK 851/09,
              </li>
              <li>
                wyrok Sądu Apelacyjnego w&nbsp;Gdańsku z&nbsp;dnia 4.08.2011 r., III SA/Gd 127/11,
              </li>
              <li>
                wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Krakowie z&nbsp;dnia 16.06.2023 r., III SA/Kr 1874/22,
              </li>
              <li>
                wyrok Wojewódzkiego Sądu Administracyjnego we Wrocławiu z&nbsp;dnia 11.05.2023 r., II SA/Wr 46/23,
              </li>
              <li>
                wyrok Wojewódzkiego Sądu Administracyjnego w&nbsp;Bydgoszczy z&nbsp;dnia 29.05.2023 r., II SA/Bd 244/23,
              </li>
              <li>
                wyrok Naczelnego Sądu Administracyjnego z&nbsp;dnia 16.05.2023 r., II OSK 387/22.
              </li>
            </ol>
          </span>
          <span>
            <span class="blog-data">opublikowano: 19.11.2023 r.</span>
          </span>
          <br>
        </div>

      </section>
      <%- include('../../views/components/blogList.ejs'); -%>
        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>
  </body>

</html>