<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Zalanie mieszkania przez sąsiada – co robić krok po kroku?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/zalanie-mieszkania-przez-ssiada--co-robi-krok-po-kroku" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Zalanie mieszkania przez sąsiada – co robić krok po kroku?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/zalanie-mieszkania.jpg" alt="zalanie-mieszkania-przez-ssiada--co-robi-krok-po-kroku">
          </div><div style="padding-bottom:3rem"><p>Zalanie mieszkania przez sąsiada to jedna z najbardziej stresujących i kosztownych sytuacji, jakie mogą spotkać mieszkańca bloku czy kamienicy. Nagle na suficie pojawiają się mokre plamy, kapią krople, a na podłodze kałuża wody. </p><h2>Co robić krok po kroku, aby zminimalizować straty i uzyskać odszkodowanie? </h2><p><strong>1. Zabezpiecz mieszkanie i siebie</strong></p><ol><li><strong>Odłącz prąd</strong> w pomieszczeniu, w którym widzisz wodę.</li><li><strong>Usuń wartościowe przedmioty</strong> (elektronikę, dokumenty, pamiątki) z zagrożonych miejsc.</li></ol><p><strong>2. Udokumentuj zdarzenie</strong></p><ol><li><strong>Zrób zdjęcia i nagraj film</strong> sufitu, podłogi, ściany — zanim zaczniesz sprzątanie.</li><li><strong>Spisz datę i godzinę</strong> zalania.</li><li><strong>Zawiadom zarządcę lub administrację</strong> – poproś o sporządzenie protokołu szkody.</li><li><strong>Gromadź dowody</strong>: protokół, korespondencję, oświadczenia sąsiada, ewentualne rachunki za naprawy.</li></ol><p><strong>3. Ustal przyczynę i odpowiedzialną osobę</strong></p><ul><li><strong>Sąsiad nad Tobą.</strong></li><li><strong>Zarządca lub wspólnota</strong> (np. gdy pękła rura w części wspólnej instalacji, przecieka dach).</li></ul><p><strong>4. Rozmowa z sąsiadem i ubezpieczycielem</strong></p><ol><li><strong>Porozmawiaj z sąsiadem</strong> – być może ma polisę OC.</li><li><strong>Zgłoś szkodę do Twojego towarzystwa</strong> (jeśli masz ubezpieczenie mieszkania) – dzięki regresowi TU samo odzyska potem pieniądze od osoby winnej.</li><li><strong>Złóż zawiadomienie do ubezpieczyciela sąsiada</strong>, jeśli posiada OC.</li></ol><p><strong>5. Wezwanie do zapłaty – krok przed sądem</strong></p><p>Zanim pójdziesz na drogę sądową, wyślij odpowiedzialnemu <strong>wezwanie do zapłaty:</strong></p><p>Dzięki temu:</p><ul><li>dajesz szansę na polubowne załatwienie sprawy,</li><li>zabezpieczasz się dowodowo przed sądem.</li></ul><p><strong>6. Pozew o odszkodowanie</strong></p><p>Jeśli odpowiedzialny (sąsiad, wspólnota, ubezpieczyciel) odmówi wypłaty odszkodowania, możesz złożyć <strong>pozew. </strong>Odzyskasz koszty naprawy czy rzeczy, które uległy zniszczeniu, ewentualne koszty np. pobytu w hotelu.</p><h2>Najczęściej zadawane pytania</h2><p><strong>1/ Czy mogę wstrzymać płacenie czynszu?</strong></p><p>Nie, ale możesz żądać obniżenia jego obniżenia.</p><p><strong>2/ A co, jeśli zalanie pochodzi z instalacji budynku?</strong></p><p>Złóż reklamację do zarządcy/wspólnoty a w razie braku woli polubownego rozwiązania sporu - pozew.</p><p><strong>3/ Czy wezwać policję albo straż pożarną?</strong></p><p>Nie jest to konieczne ale w razie poważnej awarii należy zadzwonić po straż.</p><h2>Podsumowanie</h2><ol><li><strong>Udokumentuj</strong> szkodę.</li><li><strong>Wyślij wezwanie</strong> do zapłaty i angażuj ubezpieczycieli.</li><li><strong>Próbuj polubownie</strong>, zanim pójdziesz do sądu.</li><li><strong>Pozew</strong> daje możliwość odzyskania pełnych kosztów.</li></ol><p>Zalanie mieszkania to stres ale dzięki uporządkowanemu działaniu i znajomości przepisów możesz skutecznie walczyć o odszkodowanie.</p><p><a href="/#contact" class="smoothscroll">Potrzebujesz pomocy? Skontaktuj się z Kancelarią.</a></p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>