<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ - Prawo rodzinne" }); -%>
  <head>
      <link rel="canonical" href="https://gierusradca.pl/blog/zmina-nazwiska-po-rozwodzie" />
    </head>
  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ </h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO RODZINNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="../images/zmiana-nazwiska.jpg" alt="ZMIANA NAZWISKA PO ROZWODZIE">
          </div>
          <p class="blog-text">
            Nazwisko stanowi dobro osobiste człowieka. Nic więc dziwnego, że wiele osób po rozwodzie podejmuje decyzję o&nbsp;powrocie do
            nazwiska noszonego przed wstąpieniem w&nbsp;związek małżeński.

          </p>

          <p class="blog-text">
            Powrót do nazwiska noszonego przed ślubem <strong class="txt-bold">nie jest obowiązkiem, a&nbsp;dobrowolną decyzją.</strong>
            Kodeks rodzinny i&nbsp;opiekuńczy przyznaje rozwiedzionej osobie uprawnienie powrotu do nazwiska, które noszone było
            przed zawarciem małżeństwa. Uprawnienie <strong class="txt-bold">powrotu do nazwiska</strong> po orzeczeniu rozwodu
            przysługuje małżonkom, a&nbsp;więc zarówno żonie, jak i&nbsp;mężowi. Oświadczenie w&nbsp;tym przedmiocie należy złożyć przed
            kierownikiem urzędu stanu cywilnego lub konsulem. Żaden inny organ nie jest uprawniony do przyjęcia takiego oświadczenia. Co
            ważne, <strong class="txt-bold">nie ma obowiązku aby oświadczenie złożone zostało przed kierownikiem urzędu stanu
              cywilnego właściwym ze względu na miejsce zamieszkania czy zameldowania</strong> – możesz udać się do dowolnego
            urzędu stanu cywilnego.

          </p>
          <p class="blog-text">
            Powyższe uprawnienie wynika z&nbsp;treści art. 59 Kodeksu rodzinnego i&nbsp;opiekuńczego, który stanowi że: <i>„w ciągu
              trzech miesięcy od chwili uprawomocnienia się orzeczenia rozwodu małżonek rozwiedziony, który w&nbsp;skutek zawarcia
              małżeństwa zmienił swoje dotychczasowe nazwisko, może przez oświadczenie złożone przed kierownikiem urzędu
              stanu cywilnego lub konsulem powrócić do nazwiska, które nosił przed zawarciem małżeństwa”.</i>

          </p>
          <p class="blog-text">
            Podkreślić należy, że zarówno mąż, jak i&nbsp;żona są tak samo uprawnieni do noszenia nazwiska, co do którego złożyli oświadczenie
            w&nbsp;dacie zawierania małżeństwa. <strong class="txt-bold">Były mąż nie może domagać się odebrania swojej byłej żonie prawa do nazwiska nabytego
            przez małżeństwo,</strong> jako że kodeks rodzinny i&nbsp;opiekuńczy takiej możliwości nie przewiduje.

          </p>
          <p class="blog-text">
            Jak wynika z&nbsp;powyższego oświadczenie małżonka rozwiedzionego o&nbsp;powrocie do nazwiska, które nosił przed zawarciem małżeństwa
            musi być złożone <strong class="txt-bold">osobiście przed kierownikiem urzędu stanu cywilnego lub przed konsulem w&nbsp;nieprzekraczalnym terminie
            3 miesięcy od dnia uprawomocnienia się orzeczenia rozwodowego.</strong>
          </p>
          <p class="blog-text">
            Jeśli przebywasz za granicą, nie musisz przyjeżdżać do Polski, w&nbsp;celu złożenia oświadczenia o&nbsp;powrocie do nazwiska noszonego
            przed zawarciem małżeństwa. Istnieje bowiem możliwość złożenia oświadczenia przed <strong class="txt-bold">konsulem.</strong>
          </p>

          <p class="blog-text">
            „Artykuł 59 k.r.o. przewiduje możliwość powrotu do nazwiska noszonego przed wstąpieniem w&nbsp;związek małżeński. Jeśli zatem
            osoba zainteresowana zmianą nazwiska pozostawała już wcześniej w&nbsp;związku małżeńskim i&nbsp;zmieniała uprzednio nazwisko
            oraz nie powróciła po pierwszym rozwodzie do nazwiska noszonego przed zawarciem pierwszego małżeństwa, to po
            drugim rozwodzie powrócić do niego nie może – na skutek upływu po pierwszym rozwodzie 3-miesięcznego terminu,
            o&nbsp;jakim mowa w&nbsp;komentowanym przepisie. Jeśli strona nie złożyła w&nbsp;wyżej wskazanym terminie oświadczenia o&nbsp;powrocie
            do noszonego przed zawarciem małżeństwa nazwiska bądź gdyby chciała wrócić do nazwiska noszonego jeszcze wcześniej
            (np. przed pierwszym związkiem małżeńskim), to może to uczynić tylko w&nbsp;trybie ustawy o&nbsp;zmianie imienia i&nbsp;nazwiska”
            <span class="blog-zrodla">J. Sasiak [w:] Kodeks rodzinny i&nbsp;opiekuńczy. Komentarz, red. M. Fras, M. Habdas, Warszawa 2021, art. 59.</span>

          </p>
          <p class="blog-text">
            Jeśli nie złożysz oświadczenia o&nbsp;powrocie do wcześniej używanego nazwiska, w&nbsp;terminie 3 miesięcy od dnia uprawomocnienia
            się orzeczenia rozwodu – <strong class="txt-bold">skontaktuj się z&nbsp;Kancelarią,</strong> która przeprowadzi cię przez administracyjną procedurę
            określoną w&nbsp;ustawy o&nbsp;zmianie imienia i&nbsp;nazwiska.

          </p>
          <h3>Przed wizytą w&nbsp;urzędzie stanu cywilnego lub w&nbsp;konsulacie, przygotuj:
          </h3>
          <p class="blog-text">
            <ol class="blog-text blog-ol">
              <li>
                dokument tożsamości (dowód osobisty lub paszport),
              </li>
              <li>
                dowód opłaty skarbowej (11,00 zł – jeśli składasz oświadczenie przed kierownikiem USC; 50,00 EUR – jeśli składasz oświadczenie
                przed konsulem),

              </li>
              <li>
                jeżeli orzeczenia nie da się pogodzić z&nbsp;orzeczeniem wydanym w&nbsp;postępowaniu między tymi samymi stronami w&nbsp;państwie
                członkowskim, w&nbsp;którym wystąpiono o&nbsp;uznanie;
              </li>
              <li>
                informacje o&nbsp;miejscu, w&nbsp;którym sporządzono twój akt małżeństwa i&nbsp;dacie uprawomocnienia się orzeczenia sądu o&nbsp;rozwodzie,

              </li>
              <li>
                jeśli składasz oświadczenie przed konsulem – odpis prawomocnego orzeczenia sądu o&nbsp;rozwodzie lub odpis zupełny aktu małżeństwa
                ze wzmianką o&nbsp;rozwodzie.

              </li>
            </ol>
          </p>
          <h3>Pamiętaj, że każda zmiana nazwiska wiąże się z&nbsp;koniecznością zmiany dokumentów takich jak dowód osobisty, paszport
            czy prawo jazdy.

          </h3>


          <span class="blog-zrodla">
            Źródła:
            <ol>
              <li>
                Wyrok SN z&nbsp;dnia 21 marca 1996 r., III ARN 78/95, OSNP 1996, z. 19, poz. 284;
              </li>
              <li>
                Postanowienie SN z&nbsp;dnia 2 lutego 1978 r., IV CZ 11/78;

              </li>
              <li>
                Wyrok SN z&nbsp;dnia 23 września 1974 r., III CRN 188/74;
              </li>
              <li>
                J. Sasiak [w:] Kodeks rodzinny i&nbsp;opiekuńczy. Komentarz, red. M. Fras, M. Habdas, Warszawa 2021, art. 59;
              </li>
              <li>
                https://www.gov.pl/web/gov/wroc-do-nazwiska-noszonego-przed-slubem.

              </li>

            </ol>
            <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
            <br>
          </span>

        </div>

      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>

  </body>

</html>
