<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', { title: "ZNĘCANIE SIĘ NAD ZWIERZĘTAMI – CZYLI CO? - Prawo cywilne" });
  -%>
  <head>
      <link rel="canonical" href="https://gierusradca.pl/blog/znecanie-sie-nad-zwierzetami" />
    </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <!-- home
   ================================================== -->
      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>

        <div class="blog-section">
          <br>
          <h1 style="color: #000;">ZNĘCANIE SIĘ NAD ZWIERZĘTAMI – CZYLI CO?</h1>

          <h4 style="color: rgba(0, 0, 0, 0.658);">PRAWO CYWILNE</h4>
          <div style="text-align: center; margin: 20px; "> <img src="/images/znecanie-sie-nad-zwierzetami-czyli-co.jpg"
              alt="rozwod">
          </div>

          <p class="blog-text">
            Ustawa z&nbsp;dnia 21 sierpnia 1997 r. o&nbsp;ochronie zwierząt w&nbsp;art. 6 ust. 2 zabrania znęcania się nad
            zwierzętami.
            Ustawodawca wskazuje, że przez znęcanie się nad zwierzętami należy
            <strong class="txt-bold">rozumieć zadawanie albo świadome dopuszczanie do zadawania bólu lub cierpień.
            </strong>
          </p>
          <h2 style="color: #000;">
            ZNĘCANIE SIĘ – CZYLI CO? </h2>
          </p>

          <p class="blog-text">
            Prawodawca wskazuje jakie zachowania uznać należy za znęcanie się nad zwierzęciem. Pośród nich wymienia się:
          <ol class="blog-text blog-ol">
            <li>
              umyślne zranienie lub okaleczenie zwierzęcia; </li>
            <li>
              znakowanie zwierząt stałocieplnych przez wypalanie lub wymrażanie;
            </li>
            <li>
              używanie do pracy albo w&nbsp;celach sportowych lub rozrywkowych zwierząt chorych, a&nbsp;także zbyt
              młodych lub
              starych oraz zmuszanie ich do czynności, których wykonywanie może spowodować ból; </li>
            <li>
              bicie zwierząt przedmiotami twardymi i&nbsp;ostrymi lub zaopatrzonymi w&nbsp;urządzenia obliczone na
              sprawianie
              specjalnego bólu, bicie po głowie, dolnej części brzucha, dolnych częściach kończyn; </li>
            <li>
              przeciążanie zwierząt pociągowych i&nbsp;jucznych ładunkami w&nbsp;oczywisty sposób nieodpowiadającymi ich
              sile i&nbsp;kondycji lub stanowi dróg lub zmuszanie takich zwierząt do zbyt szybkiego biegu; </li>
            <li>
              transport zwierząt, w&nbsp;tym zwierząt hodowlanych, rzeźnych i&nbsp;przewożonych na targowiska,
              przenoszenie lub
              przepędzanie zwierząt w&nbsp;sposób powodujący ich zbędne cierpienie i&nbsp;stres; </li>
            <li>
              używanie uprzęży, pęt, stelaży, więzów lub innych urządzeń zmuszających zwierzę do przebywania w&nbsp;nienaturalnej pozycji, powodujących zbędny ból, uszkodzenia ciała albo śmierć; </li>
            <li>
              dokonywanie na zwierzętach zabiegów i&nbsp;operacji chirurgicznych przez osoby nieposiadające wymaganych
              uprawnień bądź niezgodnie z&nbsp;zasadami sztuki lekarsko-weterynaryjnej, bez zachowania koniecznej
              ostrożności
              i&nbsp;oględności oraz w&nbsp;sposób sprawiający ból, któremu można było zapobiec; </li>
            <li>
              złośliwe straszenie lub drażnienie zwierząt; </li>
            <li>
              utrzymywanie zwierząt w&nbsp;niewłaściwych warunkach bytowania, w&nbsp;tym utrzymywanie ich w&nbsp;stanie
              rażącego
              zaniedbania lub niechlujstwa, bądź w&nbsp;pomieszczeniach albo klatkach uniemożliwiających im zachowanie
              naturalnej pozycji; </li>
            <li>
              porzucanie zwierzęcia, a&nbsp;w szczególności psa lub kota, przez właściciela bądź przez inną osobę, pod
              której
              opieką zwierzę pozostaje; </li>
            <li>
              stosowanie okrutnych metod w&nbsp;chowie lub hodowli zwierząt; </li>
            <li>
              organizowanie walk zwierząt; </li>
            <li>
              obcowanie płciowe ze zwierzęciem (zoofilia); </li>
            <li>
              wystawianie zwierzęcia domowego lub gospodarskiego na działanie warunków atmosferycznych, które zagrażają
              jego zdrowiu lub życiu; </li>
            <li>
              transport żywych ryb lub ich przetrzymywanie w&nbsp;celu sprzedaży bez dostatecznej ilości wody
              umożliwiającej
              oddychanie;; </li>
            <li>
              utrzymywanie zwierzęcia bez odpowiedniego pokarmu lub wody przez okres wykraczający poza minimalne
              potrzeby właściwe dla gatunku. </li>

          </ol>
          </p>
          <p class="blog-text">
            Zaznaczyć przy tym należy, że katalog ten nie jest zamknięty, a&nbsp;ustawodawca posługując się zwrotem „w&nbsp;szczególności” spowodował, że wiele innych zachowań może zostać także uznanych za znęcanie się nad
            zwierzętami, jeśli polega na zadawaniu albo świadomym dopuszczaniu do zadawania bólu lub cierpienia,
            a&nbsp;nie
            zostało wymienione w&nbsp;ustawie.</p>
          <p class="blog-text">
            Jak wynika z&nbsp;powyższego wyliczenia, <strong class="txt-bold">nie tylko „bicie” jest znęcaniem.</strong>
            Pamiętać należy, że porzucanie
            zwierzęcia czy też utrzymywanie zwierzęcia bez odpowiedniego pokarmu lub wody – to także znęcanie się.
          </p>
          <h2 style="color: #000;">
            SANKCJA ZA ZNĘCANIE SIĘ NAD ZWIERZĘTAMI </h2>
          <p class="blog-text">
            Art. 7 ustawy o&nbsp;ochronie zwierząt przewiduje, że <strong class="txt-bold">zwierzę doświadczające przemocy
              może zostać odebrane
              właścicielowi lub opiekunowi na podstawie decyzji wójta </strong>(burmistrza, prezydenta miasta)
            właściwego ze
            względu na miejsce pobytu zwierzęcia. Decyzja ta zostaje wydana po uzyskaniu informacji z&nbsp;Policji,
            straży
            gminnej, lekarza weterynarii lub upoważnionego przedstawiciela organizacji społecznej, której statutowym
            celem działania jest ochrona zwierząt. Od decyzji przysługuje prawo wniesienia odwołania do samorządowego
            kolegium odwoławczego w&nbsp;krótkim terminie 3 dni. </p>
          <p class="blog-text">
            Ponadto, art. 35 ustawy o&nbsp;ochronie zwierząt przewiduje <strong class="txt-bold">karę pozbawienia wolności do
              lat trzech za znęcanie
              się nad zwierzęciem.</strong>

          </p>

          <span class="blog-data">opublikowano: <%= post.publishDate %>r.</span>
          <br>

        </div>
      </section>

      <%- include('../../views/components/blogList.ejs'); -%>

        <%- include('../../views/components/contact.ejs'); -%>
          <%- include('../../views/components/dependency.ejs'); -%>

  </body>
  </body>

</html>
