<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../../views/components/head.ejs', {
  title: "Zostałem oszukany – co mogę zrobić jako pokrzywdzony?" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/blog/zostaem-oszukany--co-mog-zrobi-jako-pokrzywdzony" />
  </head>

  <body id="top">

    <%- include('../../views/components/headerBlog.ejs'); -%>

      <section id="blog-page">
        <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
        <div class="blog-section">
          <br>
          <h1 style="color: #000;">Zostałem oszukany – co mogę zrobić jako pokrzywdzony?</h1>

          <h4 style="color: rgba(0,0,0, 0.658);">PRAWO BANKOWE</h4>
          <div style="text-align: center; margin: 20px; ">
            <img src="../images/oszustwo.jpg" alt="zostaem-oszukany--co-mog-zrobi-jako-pokrzywdzony">
          </div><div style="padding-bottom:3rem"><p>Współczesne realia życia codziennego, zarówno w świecie fizycznym, jak i wirtualnym, powodują wzrost liczby przestępstw o charakterze oszustwa. Jako prawnik z Rzeszowa, zajmujący się prawem karnym oraz reprezentujący pokrzywdzonych, bardzo często spotykam się z pytaniem: „Zostałem oszukany – co teraz?”. W tym wpisie wyjaśniam, co możesz zrobić jako osoba pokrzywdzona przestępstwem oszustwa, jakie masz prawa, jak wygląda procedura zgłoszenia i dochodzenia roszczeń oraz dlaczego pomoc prawnika może być nieoceniona.</p><h2>Czym jest oszustwo z punktu widzenia prawa?</h2><p>Oszustwo, zgodnie z art. 286 §1 Kodeksu karnego, polega na doprowadzeniu innej osoby do niekorzystnego rozporządzenia mieniem poprzez wprowadzenie jej w błąd, wyzyskanie błędu lub niezdolności do należytego pojmowania przedsiębranego działania, w celu osiągnięcia korzyści majątkowej.</p><p><strong>Oszustwem może być:</strong></p><ul><li>fałszywa sprzedaż towaru lub usługi przez internet (np. przelew pieniędzy i brak realizacji zamówienia),</li><li>podszycie się pod przedstawiciela instytucji finansowej i wyłudzenie danych,</li><li>przedstawienie nieprawdziwych informacji w celu zawarcia umowy (np. wynajem nieistniejącego mieszkania),</li><li>wyłudzanie pożyczek pod pretekstem prowadzenia inwestycji,</li><li>oszustwa matrymonialne, w których ofiara przekazuje pieniądze fałszywemu partnerowi,</li><li>sprzedaż pojazdu, który nie posiada cech o których zapewniał sprzedawca lub jest w innym stanie technicznym niż ten o którym była mowa.</li></ul><h2>Co zrobić, jeśli padłeś ofiarą oszustwa?</h2><ol><li><strong>Zabezpiecz wszelkie dowody</strong> - przede wszystkim należy niezwłocznie zgromadzić i zabezpieczyć wszelkie dokumenty, wiadomości e-mail, wiadomości SMS, zrzuty ekranu, korespondencję, numery kont bankowych, potwierdzenia przelewów. Dowody te będą kluczowe w procesie karnym i ewentualnym postępowaniu cywilnym.</li><li><strong>Zgłoś przestępstwo</strong> - zawiadomienie o możliwości popełnienia przestępstwa można złożyć na policji lub w prokuraturze. Zgłoszenie powinno być precyzyjne, zawierać konkretne informacje o zdarzeniu, osobach zaangażowanych (jeśli są znane) oraz dołączone dowody. Dobrym rozwiązaniem jest przygotowanie zawiadomienia wraz z prawnikiem, który zadba o jego poprawność prawną.</li><li><strong>Wystąp w charakterze pokrzywdzonego</strong> - z chwilą zgłoszenia przestępstwa zyskujesz status pokrzywdzonego. Masz prawo do udziału w postępowaniu, przeglądania akt sprawy, zgłaszania wniosków dowodowych, a także domagania się naprawienia szkody.</li><li><strong>Rozważ złożenie pozwu cywilnego</strong> - jeśli uda się ustalić dane sprawcy, istnieje możliwość dochodzenia roszczeń cywilnych - odszkodowania i zadośćuczynienia. Postępowanie cywilne może toczyć się równolegle z karnym, albo po jego zakończeniu.</li><li><strong>Skorzystaj z pomocy prawnika</strong> - specjalista w zakresie prawa karnego, np. prawnik z Rzeszowa, nie tylko przygotuje dokumentację i będzie reprezentował Cię przed organami ścigania i sądem, ale również doradzi, jak najskuteczniej zabezpieczyć swoje interesy.</li></ol><h2>Podsumowanie</h2><p>Jeśli zostałeś oszukany, nie czekaj z działaniem. Im szybciej podejmiesz kroki prawne, tym większa szansa na odzyskanie pieniędzy i ukaranie sprawcy. <a href="#contact" class="smoothscroll">Skontaktuj się </a>z doświadczonym prawnikiem, który pomoże Ci przejść przez procedury i zadba o Twoje prawa.</p>
<span class="blog-data">opublikowano: <%= post.publishDate %>r.</span><br>
</div></section>
<%- include('../../views/components/blogList.ejs'); -%>
  <%- include('../../views/components/contact.ejs'); -%>
    <%- include('../../views/components/dependency.ejs'); -%>
</body>
</html>